{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Nullstill passord</h4>
      <div class="jumbotron">Skriv inn din e-postadresse og få tilsendt link for å nullstille passordet</div>
      <form role="form" method="post" action="">
        {% csrf_token %}
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <strong>{{ error|escape }}</strong>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <strong>{{ error|escape }}</strong>
          {% endfor %}
        {% endif %}
        <div class="form-group">
          <label for="id_email">E-post</label> 
          <input class="form-control" id="id_email" maxlength="254" name="email" type="email" />
        </div>
        <input class="btn btn-custom" type="submit" value="Nullstill" />
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Nullstill passord</li>
</ol>
{% endblock %}