{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Passord endret</h4>
      <div class="jumbotron">Passordet ditt er endret.</div>
      <a class="btn btn-custom" href="{% url 'index' %}">Startsiden</a>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Passord endret</li>
</ol>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'user:dashboard' %}">Innstillinger</a></li>
  <li class="active">Passord endret</li>
</ol>
{% endblock %}