{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Passord-nullstilling sendt</h4>
      <div class="jumbotron">
        <p>
          Du har nå blitt tilsendt en e-post med instruksjoner for nullstilling av passord.
        </p>
        <p>
          Hvis du ikke mottar en epost, sjekk at du har oppgitt den adressen du er registrert med og sjekk ditt spam filter.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Passord-nullstilling sendt</li>
</ol>
{% endblock %}