{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Lag nytt passord</h4>
      <form role="form" method="post" action="">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="jumbotron">{{ error|escape }}</div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="jumbotron">{{ error|escape }}</div>
          {% endfor %}
        {% endif %}
        <div class="form-group">
          <label for="id_new_password1">Nytt passord</label>
          <input class="form-control" id="id_new_password1" name="new_password1" type="password" />
        </div>
        <div class="form-group">
          <label for="id_new_password2">Bekreft nytt passord</label>
          <input class="form-control" id="id_new_password2" name="new_password2" type="password" />
        </div>
          <input class="btn btn-custom" type="submit" value="Lag nytt passord" />
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Lag nytt passord</li>
</ol>
{% endblock %}