{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>MCTMGAD</h2>
      <h5>Metakognitiv modell for bekymring</h5>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ mctmgad.folder.name }}</strong></p>
        <p>Opprettet: <strong> {{ mctmgad.date|date:'j. F o' }}</strong></p>
      </div>
    </div>
    <div class="col-md-4">
      <a class="btn btn-custom m-b-1" href="{% url 'assessments:mctmgad_update' pk=mctmgad.pk %}">Endre</a>
      <a class="btn btn-custom-red m-b-1" data-toggle="modal" data-target="#delete-confirm">Slett</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr />

      <div class="assessment-ib w-100">
        Trigger <br />
        <div class="assessment-box">
          {{ mctmgad.trigger|linebreaks }}
        </div>
      </div>
  
      <p><i class="fa fa-arrow-down fa-2x"></i></p>

      <div class="assessment-ib w-40">
        Positive meta-antakelser <br />
        <div class="assessment-box border-dashed">
          {{ mctmgad.positive_meta_beliefs|linebreaks }}
        </div>
      </div>

      <i class="fa fa-arrow-right fa-2x"></i>

      <div class="assessment-ib w-40">
        Bekymring (type 1-bekymring) <br />
        <div class="assessment-box border-red">
          {{ mctmgad.type1_worry|linebreaks }}
        </div>
      </div>

      <p><i class="fa fa-arrow-down fa-2x"></i></p>

      <div class="assessment-ib w-40">
        Negative meta-antakelser <br />
        <div class="assessment-box border-dashed">
          {{ mctmgad.negative_meta_beliefs|linebreaks }}
        </div>
      </div>
      
      <i class="fa fa-arrow-right fa-2x"></i>
      
      <div class="assessment-ib w-40">
        Metabekymring (type 2-bekymring) <br />
        <div class="assessment-box">
          {{ mctmgad.type2_worry|linebreaks }}
        </div>
      </div>

      <div class="assessment-arrow"><i class="fa fa-arrow-down fa-2x"></i></div>

      <div class="assessment-ib w-33">
        Handlinger <br />
        <div class="assessment-box">
          {{ mctmgad.behavior|linebreaks }}
        </div>
      </div>

      <div class="assessment-ib w-33">
        Tankekontroll<br />
        <div class="assessment-box">
          {{ mctmgad.thought_control|linebreaks }}
        </div>
      </div>

      <div class="assessment-ib w-33">
        Følelser <br />
        <div class="assessment-box border-red">
          {{ mctmgad.emotion|linebreaks }}
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="myModalLabel">Slette skjema?</h5>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette <strong>MCTMGAD-skjema {{ mctmgad.date|date:'j. F o' }}</strong> lagret i {{ mctmgad.folder.name }}.
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=mctmgad.folder.pk %}">{{ mctmgad.folder.name }}</a></li>
  <li class="active">MCTMGAD {{ mctmgad.date|date:'j. F o' }}</li>
</ol>
{% endblock %}

{% block printerfriendly %}
<a class="nocolor-link pull-right" href="#" onclick="window.print();"><i class="fa fa-print"></i></a>
{% endblock %}
