{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h2 id="top">MCTMGAD</h2>
      <h5>Metakognitiv modell for bekymring</h5>
      <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <hr/>
        <div class="form-group">
          <label for="id_trigger">
            <strong>Triggertanke</strong><br />
            <div class="help-text-muted">
              Hvilken tanke var det som utløste bekymringen?
            </div>
          </label> 
          <textarea class="form-control" rows="4" id="id_trigger" name="trigger"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_type1_worry">
            <strong>Bekymring</strong><br />
            <div class="help-text-muted">
              Hva var det som bekymret deg når du fikk denne tanken? Hva var innholdet i bekymringstankene?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_type1_worry" name="type1_worry"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_emotion">
            <strong>Følelser</strong><br />
            <div class="help-text-muted">
              Hvilke følelser dukket opp når du bekymret deg for dette? Hvilke symptomer fikk du? Fikk du angst? Hvilke symptomer merket du?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_emotion" name="emotion"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_type2_worry">
            <strong>Tanker om bekymring</strong><br />
            <div class="help-text-muted">
              Når du fikk disse følelsene eller symptomene, tenkte du at det kom til å skje noe fælt som følge av disse bekymringene? Hva er det verste som kan skje hvis du fortsatte å bekymre deg?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_type2_worry" name="type2_worry"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_negative_meta_beliefs">
            <strong>Negative antakelser om bekymring</strong><br />
            <div class="help-text-muted">
              Tror du at bekymring lar seg kontrollere?<br/>
              Tenker du at det på noen måte er negativt å bekymre seg? Kan bekymringen være skadelig for deg?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_negative_meta_beliefs" name="negative_meta_beliefs"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_positive_meta_beliefs">
            <strong>Positive antakelser om bekymring</strong><br />
            <div class="help-text-muted">
            Tenker du at bekymring kan ha noen nytte? Kan den for eksempel gjøre at du er mer forberedt hvis noe skulle oppstå?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_positive_meta_beliefs" name="positive_meta_beliefs"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_behavior">
            <strong>Handlinger</strong><br />
            <div class="help-text-muted">
            Når bekymringene kommer, gjør du noe for å stanse dem? Unngår du situasjoner eller ber du om forsikringer? Prøver du å finne ut om det er noe å bekymre seg for? Bruker du noen form for rusmidler?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_behavior" name="behavior"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_thought_control">
            <strong>Tankekontroll</strong><br />
            <div class="help-text-muted">
            Bruker du mer direkte strategier for å kontrollere bekyringene? Forsøker du å unngå ting som kan utløse bekymringer?<br />
            Har du noen gang forsøkt å stanse en bekymring ved å ikke gå inn i den akkurat da?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_thought_control" name="thought_control"></textarea>
        </div>

        <p><a href="#top">Tilbake til toppen</a></p>
    </div>
    
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_folder">Mappe</label> 
        <select class="c-select form-control" id="id_folder" name="folder" required>
          <option value="{{ from_folder.pk}}" selected="selected">{{ from_folder.name }}</option>
          {% for folder in other_folders %}
          <option value="{{ folder.pk }}">{{ folder.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-custom" type="submit" value="Lagre MCTMGAD" />
      </form>
    </div>

  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=from_folder.pk %}">{{ from_folder.name }}</a>
  <li class="active">Ny MCTMD Kasusformulering</li>
</ol>
{% endblock %}