{% extends 'base.html' %}
{% load humanize %}
{% load bdi_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 id="top">BDI</h2>
      <h5>Beck Depression Inventory</h5>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ bdi.folder.name }}</strong></p>
        <p>Dato: <strong>{{ bdi.date|date:'j. F o' }}</strong></p>
      </div>

      <hr />
      <strong>Utsagn 1</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question01 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg ikke trist.</td>
          </tr>
          <tr>
            <td>{% if bdi.question01 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er lei meg eller føler meg trist.</td>
          </tr>
          <tr>
            <td>{% if bdi.question01 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er lei meg eller trist hele tiden og klarer ikke å komme ut av denne tilstanden.</td>
          </tr>
            <td>{% if bdi.question01 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er så trist eller ulykkelig at jeg ikke holder ut.</td>
          </tr>
        </tbody>
      </table>

      <hr />
      <strong>Utsagn 2</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question02 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er ikke særlig pessimistisk eller motløs overfor fremtiden.</td>
          </tr>
          <tr>
            <td>{% if bdi.question02 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg motløs overfor fremtiden.</td>
          </tr>
          <tr>
            <td>{% if bdi.question02 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler at jeg ikke har noe å se frem til.</td>
          </tr>
            <td>{% if bdi.question02 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler at fremtiden er håpløs og at forholdene ikke kan bedre seg.</td>
          </tr>
        </tbody>
      </table>

      <hr />
      <strong>Utsagn 3</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question03 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg ikke som et mislykket menneske.</td>
          </tr>
          <tr>
            <td>{% if bdi.question03 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler at jeg har mislyktes mer enn andre mennesker.</td>
          </tr>
          <tr>
            <td>{% if bdi.question03 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Når jeg ser tilbake på livet mitt, ser jeg ikke annet enn mislykkethet.</td>
          </tr>
            <td>{% if bdi.question03 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler at jeg har mislyktes fullstendig som menneske.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 4</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question04 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg får like mye tilfredstillelse ut av ting som før.</td>
          </tr>
          <tr>
            <td>{% if bdi.question04 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg nyter ikke ting på samme måte som før.</td>
          </tr>
          <tr>
            <td>{% if bdi.question04 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg får ikke ordentlig tilfredstillelse ut av noe lenger.</td>
          </tr>
            <td>{% if bdi.question04 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er misfornøyd eller kjeder meg med alt.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 5</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question05 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg ikke særlig skyldbetynget.</td>
          </tr>
          <tr>
            <td>{% if bdi.question05 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg skyldbetynget en god del av tiden.</td>
          </tr>
          <tr>
            <td>{% if bdi.question05 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg temmelig skyldbetynget mesteparten av tiden.</td>
          </tr>
            <td>{% if bdi.question05 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg skyldbetynget mesteparten av tiden.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 6</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question06 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har ikke følelsen av å bli straffet.</td>
          </tr>
          <tr>
            <td>{% if bdi.question06 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler at jeg kan bli straffet.</td>
          </tr>
          <tr>
            <td>{% if bdi.question06 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg forventer å bli straffet.</td>
          </tr>
            <td>{% if bdi.question06 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler at jeg blir straffet.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 7</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question07 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg ikke skuffet over meg selv.</td>
          </tr>
          <tr>
            <td>{% if bdi.question07 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er skuffet over meg selv.</td>
          </tr>
          <tr>
            <td>{% if bdi.question07 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg avskyr meg selv.</td>
          </tr>
            <td>{% if bdi.question07 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg hater meg selv.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 8</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question08 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler at jeg ikke er dårligere enn andre.</td>
          </tr>
          <tr>
            <td>{% if bdi.question08 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg kritiserer meg selv for mine svakheter eller feilgrep.</td>
          </tr>
          <tr>
            <td>{% if bdi.question08 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg bebreider meg selv hele tiden for mine feil eller mangler.</td>
          </tr>
            <td>{% if bdi.question08 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg gir meg selv skylden for alt galt som skjer.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 9</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question09 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har ikke tanker om å ta livet mitt.</td>
          </tr>
          <tr>
            <td>{% if bdi.question09 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har tanker om å ta livet mitt, men jeg vil ikke omsette dem i handling.</td>
          </tr>
          <tr>
            <td>{% if bdi.question09 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg ønsker å ta livet.</td>
          </tr>
            <td>{% if bdi.question09 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg ville ta livet mitt om jeg fikk sjansen til det.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 10</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question10 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg gråter ikke mer enn vanlig.</td>
          </tr>
          <tr>
            <td>{% if bdi.question10 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg gråter mer nå enn jeg gjorde før.</td>
          </tr>
          <tr>
            <td>{% if bdi.question10 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg gråter hele tiden nå.</td>
          </tr>
            <td>{% if bdi.question10 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg pleide å kunne gråte, men nå kan jeg ikke gråte selv om jeg gjerne vil.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 11</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question11 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er ikke mer irritert nå enn ellers.</td>
          </tr>
          <tr>
            <td>{% if bdi.question11 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg blir lettere ergelig eller irritert enn før.</td>
          </tr>
          <tr>
            <td>{% if bdi.question11 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler meg irritert hele tiden nå.</td>
          </tr>
            <td>{% if bdi.question11 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg blir ikke irritert i det hele tatt over ting som pleide å irritere meg.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 12</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question12 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har ikke mistet interessen for andre mennesker.</td>
          </tr>
          <tr>
            <td>{% if bdi.question12 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er mindre interessert i andre mennesker enn jeg pleide å være.</td>
          </tr>
          <tr>
            <td>{% if bdi.question12 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har mistet det meste av interesse for andre mennesker.</td>
          </tr>
            <td>{% if bdi.question12 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har mistet all interesse for andre mennesker.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 13</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question13 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg tar avgjørelser omtrent like lett som jeg alltid har gjort.</td>
          </tr>
          <tr>
            <td>{% if bdi.question13 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg forsøker å utsette det å ta avgjørelser mer enn tidligere.</td>
          </tr>
          <tr>
            <td>{% if bdi.question13 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har større vanskeligheter med å ta avgjørelser enn før.</td>
          </tr>
            <td>{% if bdi.question13 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg klarer ikke å ta avgjørelser i det hele tatt lenger.</td>
          </tr>
        </tbody>
      </table>

      <hr />
      <strong>Utsagn 14</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question14 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler ikke at jeg ser dårligere ut enn jeg pleide å gjøre.</td>
          </tr>
          <tr>
            <td>{% if bdi.question14 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er bekymret for at jeg ser gammel eller lite tiltrekkende ut.</td>
          </tr>
          <tr>
            <td>{% if bdi.question14 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg føler det er varige forandringer i mitt utseende som får meg til å se lite tiltrekkende ut.</td>
          </tr>
            <td>{% if bdi.question14 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg tror jeg ser stygg ut.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 15</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question15 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg kan arbeide like godt som før.</td>
          </tr>
          <tr>
            <td>{% if bdi.question15 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Det kreves en ekstra anstrengelse for å ta fatt på noe.</td>
          </tr>
          <tr>
            <td>{% if bdi.question15 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg må presse meg selv hardt for å gjøre noe.</td>
          </tr>
            <td>{% if bdi.question15 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg klarer ikke å gjøre noe i det hele tatt.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 16</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question16 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg sover like godt som ellers.</td>
          </tr>
          <tr>
            <td>{% if bdi.question16 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg sover ikke så godt som før.</td>
          </tr>
          <tr>
            <td>{% if bdi.question16 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg våkner 1-2 timer tidligere enn ellers og har vanskeligheter for å sovne igjen.</td>
          </tr>
            <td>{% if bdi.question16 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg våkner flere timer tidligere enn jeg pleide, og får ikke sove igjen.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 17</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question17 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg blir ikke fortere trøtt enn ellers.<td>
          </tr>
          <tr>
            <td>{% if bdi.question17 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg blir fortere trøtt enn ellers.</td>
          </tr>
          <tr>
            <td>{% if bdi.question17 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Nesten alt jeg gjør, blir jeg trøtt av.</td>
          </tr>
            <td>{% if bdi.question17 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er for trøtt til å gjøre noe som helst.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 18</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question18 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Matlysten min er ikke dårligere enn ellers.<td>
          </tr>
          <tr>
            <td>{% if bdi.question18 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Matlysten er ikke så god som den var før.</td>
          </tr>
          <tr>
            <td>{% if bdi.question18 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Matlysten min er mye dårligere nå.</td>
          </tr>
            <td>{% if bdi.question18 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har ikke matlyst i det hele tatt lenger.</td>
          </tr>
        </tbody>
      </table>

      <hr />
      <strong>Utsagn 19</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question19 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har ikke gått ned så veldig mye i vekt i det siste, om i det hele tatt.<td>
          </tr>
          <tr>
            <td>{% if bdi.question19 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har tatt av mer enn 2 kg.</td>
          </tr>
          <tr>
            <td>{% if bdi.question19 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har tatt av mer enn 4 kg.</td>
          </tr>
            <td>{% if bdi.question19 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har tatt av mer enn 6 kg.</td>
          </tr>
          <tr>
            <td>{% if bdi.question19a %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har bevisst forsøkt å gått ned i vekt.</td>
          </tr>
        </tbody>
      </table>
        
      <hr />
      <strong>Utsagn 20</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question20 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er ikke mer bekymret for helsen min enn vanlig.<td>
          </tr>
          <tr>
            <td>{% if bdi.question20 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er bekymret over fysiske plager som verking og smerter, eller urolig mage, eller forstoppelse.</td>
          </tr>
          <tr>
            <td>{% if bdi.question20 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er veldig bekymret over mine fysiske plager og det er vanskelig å tenke på stort annet.</td>
          </tr>
            <td>{% if bdi.question20 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er så bekymret over mine fysiske plager at jeg ikke klarer å tenke på annet.</td>
          </tr>
        </tbody>
      </table>

      <hr />
      <strong>Utsagn 20</strong>
      <table class="table table-sm borderless">
        <tbody>
          <tr>
            <td>{% if bdi.question20 == 0 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har ikke merket noen forandring i mine seksuelle interesser i det siste.<td>
          </tr>
          <tr>
            <td>{% if bdi.question20 == 1 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er mindre interessert i sex enn jeg var før.</td>
          </tr>
          <tr>
            <td>{% if bdi.question20 == 2 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg er mye mindre interessert i sex nå.</td>
          </tr>
            <td>{% if bdi.question20 == 3 %}<i class="fa fa-check-square-o"></i>{% endif %}</td>
            <td>Jeg har helt mistet interessen for sex.</td>
          </tr>
        </tbody>
      </table>
      <hr />
      
      <p><a href="#top">Tilbake til toppen</a></p>
      </div>
      <div class="col-md-4">
        <div class="jumbotron"> 
        <h5>Oppsummering</h5>
        <strong>Resultat</strong>
        <p><strong>{{ bdi.score }}</strong> {{ bdi.score|bdi_verbal|capfirst }}</p>

      <strong>Merknader</strong> <p>
          {% if bdi.question09 >= 2 %}Utsagn 9: skårer {{ bdi.question09|apnumber }} på tanker om selvmord. <br />{% endif %}
          {% if bdi.question19a %}Utsagn 19: Har bevisst forsøkt å gått ned i vekt.{% endif %}
          </p>

      <strong>Retningslinjer for inndeling av depresjonsnivå</strong>
          <ul class="list-unstyled">
            <li>&lt;10 Ingen depresjon</li>
            <li>10 - 16 Mild depresjon</li>
            <li>17 - 29 Moderat depresjon</li>
            <li>30 - 63 Alvorlig depresjon</li>
          </ul>
        </div>
        <a class="btn btn-custom m-b-1" href="{% url 'assessments:bdi_update' pk=bdi.pk %}">Endre</a>
        <a class="btn btn-custom-red m-b-1" data-toggle="modal" data-target="#delete-confirm">Slett</a>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="myModalLabel">Slette kartlegging?</h5>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette <strong>BDI-kartlegging {{ bdi.date|date:'j. F o' }}</strong> lagret i {{ bdi.folder.name }}.
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=bdi.folder.pk %}">{{ bdi.folder.name }}</a></li>
  <li class="active">BDI {{ bdi.date|date:'j. F o' }}</li>
</ol>
{% endblock %}

{% block printerfriendly %}
<a class="nocolor-link pull-right" href="#" onclick="window.print();"><i class="fa fa-print"></i></a>
{% endblock %}
