{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h2 id="top">BDI</h2>
      <h5>Beck Depression Inventory</h5>
      <div class="jumbotron">
        <p>
        I dette spørreskjemaet vil du finne utsagn inndelt i grupper. 
        </p>
        <p>
        Vennligst les alle setningene i hver gruppe nøye. Deretter velger du <strong>ett utsagn</strong> i hver gruppe som best beskriver hvordan du har følt deg <strong>den siste uken, i dag inkludert</strong>.
        </p>

        <p>
        Husk å lese alle utsagnene innenfor en gruppe før du velger, og pass på at du gir svar innenfor alle gruppene.<br />
        Dersom flere utsagn passer i en gruppe, velger du det siste utsagnet.
        </p> 
      </div>
      <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <hr>
        <strong>Utsagn 1</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question01" name="question01" value="0" required />
          <span class="c-indicator"></span>
          Jeg føler meg ikke trist.</label>

          <label class="c-input c-radio"><input type="radio" id="id_question01" name="question01" value="1" required />
          <span class="c-indicator"></span>
          Jeg er lei meg eller føler meg trist.</label>

          <label class="c-input c-radio"><input type="radio" id="id_question01" name="question01" value="2" required /> 
          <span class="c-indicator"></span>
          Jeg er lei meg eller trist hele tiden og klarer ikke å komme ut av denne tilstanden.</label>

          <label class="c-input c-radio"><input type="radio" id="id_question01" name="question01" value="3" required />
          <span class="c-indicator"></span>
          Jeg er så trist eller ulykkelig at jeg ikke holder ut.</label>
        </div>

        <hr />
        <strong>Utsagn 2</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question02" name="question02" value="0" required /> 
          <span class="c-indicator"></span>
          Jeg er ikke særlig pessimistisk eller motløs overfor fremtiden.</label>

          <label class="c-input c-radio"><input type="radio" id="id_question02" name="question02" value="1" required /> 
          <span class="c-indicator"></span>
          Jeg føler meg motløs overfor fremtiden.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question02" name="question02" value="2" required />
          <span class="c-indicator"></span>
          Jeg føler at jeg ikke har noe å se frem til.</label>

          <label class="c-input c-radio"><input type="radio" id="id_question02" name="question02" value="3" required />
          <span class="c-indicator"></span>
          Jeg føler at fremtiden er håpløs og at forholdene ikke kan bedre seg.</label>
        </div>

        <hr />
        <strong>Utsagn 3</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question03" name="question03" value="0" required />
          <span class="c-indicator"></span>
          Jeg føler meg ikke som et mislykket menneske.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question03" name="question03" value="1" required />
          <span class="c-indicator"></span>
          Jeg føler at jeg har mislyktes mer enn andre mennesker.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question03" name="question03" value="2" required />
          <span class="c-indicator"></span>
          Når jeg ser tilbake på livet mitt, ser jeg ikke annet enn mislykkethet.</label>

          <label class="c-input c-radio"><input type="radio" id="id_question03" name="question03" value="3" required />
          <span class="c-indicator"></span>
          Jeg føler at jeg har mislyktes fullstendig som menneske.</label>
        </div>

        <hr />
        <strong>Utsagn 4</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question03" name="question04" value="0" required />
          <span class="c-indicator"></span>
           Jeg får like mye tilfredstillelse ut av ting som før.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question04" name="question04" value="1" required />
          <span class="c-indicator"></span>
           Jeg nyter ikke ting på samme måte som før.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question04" name="question04" value="2" required />
          <span class="c-indicator"></span>
           Jeg får ikke ordentlig tilfredstillelse ut av noe lenger.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question04" name="question04" value="3" required />
          <span class="c-indicator"></span>
           Jeg er misfornøyd eller kjeder meg med alt.</label>
        </div>

        <hr />
        <strong>Utsagn 5</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question03" name="question05" value="0" required />
          <span class="c-indicator"></span>
           Jeg føler meg ikke særlig skyldbetynget.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question05" name="question05" value="1" required />
          <span class="c-indicator"></span>
           Jeg føler meg skyldbetynget en god del av tiden.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question05" name="question05" value="2" required />
          <span class="c-indicator"></span>
           Jeg føler meg temmelig skyldbetynget mesteparten av tiden.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question05" name="question05" value="3" required />
          <span class="c-indicator"></span>
           Jeg føler meg skyldbetynget mesteparten av tiden.</label>
        </div>

        <hr />
        <strong>Utsagn 6</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question06" name="question06" value="0" required />
          <span class="c-indicator"></span>
           Jeg har ikke følelsen av å bli straffet.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question06" name="question06" value="1" required />
          <span class="c-indicator"></span>
           Jeg føler at jeg kan bli straffet.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question06" name="question06" value="2" required />
          <span class="c-indicator"></span>
           Jeg forventer å bli straffet.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question06" name="question06" value="3" required />
          <span class="c-indicator"></span>
           Jeg føler at jeg blir straffet.</label>
        </div>

        <hr />
        <strong>Utsagn 7</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question07" name="question07" value="0" required />
          <span class="c-indicator"></span>
           Jeg føler meg ikke skuffet over meg selv.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question07" name="question07" value="1" required />
          <span class="c-indicator"></span>
           Jeg er skuffet over meg selv.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question07" name="question07" value="2" required />
          <span class="c-indicator"></span>
           Jeg avskyr meg selv.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question07" name="question07" value="3" required />
          <span class="c-indicator"></span>
           Jeg hater meg selv.</label>
        </div>

        <hr />
        <strong>Utsagn 8</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question08" name="question08" value="0" required />
          <span class="c-indicator"></span>
           Jeg føler at jeg ikke er dårligere enn andre.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question08" name="question08" value="1" required />
          <span class="c-indicator"></span>
           Jeg kritiserer meg selv for mine svakheter eller feilgrep.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question08" name="question08" value="2" required />
          <span class="c-indicator"></span>
           Jeg bebreider meg selv hele tiden for mine feil eller mangler.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question08" name="question08" value="3" required />
          <span class="c-indicator"></span>
           Jeg gir meg selv skylden for alt galt som skjer.</label>
        </div>

        <hr />
        <strong>Utsagn 9</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question09" name="question09" value="0" required />
          <span class="c-indicator"></span>
           Jeg har ikke tanker om å ta livet mitt.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question09" name="question09" value="1" required />
          <span class="c-indicator"></span>
           Jeg har tanker om å ta livet mitt, men jeg vil ikke omsette dem i handling.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question09" name="question09" value="2" required />
          <span class="c-indicator"></span>
           Jeg ønsker å ta livet.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question09" name="question09" value="3" required />
          <span class="c-indicator"></span>
           Jeg ville ta livet mitt om jeg fikk sjansen til det.</label>
        </div>

        <hr />
        <strong>Utsagn 10</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question10" name="question10" value="0" required />
          <span class="c-indicator"></span>
           Jeg gråter ikke mer enn vanlig.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question10" name="question10" value="1" required />
          <span class="c-indicator"></span>
           Jeg gråter mer nå enn jeg gjorde før.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question10" name="question10" value="2" required />
          <span class="c-indicator"></span>
           Jeg gråter hele tiden nå.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question10" name="question10" value="3" required />
          <span class="c-indicator"></span>
           Jeg pleide å kunne gråte, men nå kan jeg ikke gråte selv om jeg gjerne vil.</label>
        </div>

        <hr />
        <strong>Utsagn 11</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question11" name="question11" value="0" required />
          <span class="c-indicator"></span>
           Jeg er ikke mer irritert nå enn ellers.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question11" name="question11" value="1" required />
          <span class="c-indicator"></span>
           Jeg blir lettere ergelig eller irritert enn før.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question11" name="question11" value="2" required />
          <span class="c-indicator"></span>
           Jeg føler meg irritert hele tiden nå.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question11" name="question11" value="3" required />
          <span class="c-indicator"></span>
           Jeg blir ikke irritert i det hele tatt over ting som pleide å irritere meg.</label>
        </div>

        <hr />
        <strong>Utsagn 12</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question12" name="question12" value="0" required />
          <span class="c-indicator"></span>
           Jeg har ikke mistet interessen for andre mennesker.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question12" name="question12" value="1" required />
          <span class="c-indicator"></span>
           Jeg er mindre interessert i andre mennesker enn jeg pleide å være.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question12" name="question12" value="2" required />
          <span class="c-indicator"></span>
           Jeg har mistet det meste av interesse for andre mennesker.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question12" name="question12" value="3" required />
          <span class="c-indicator"></span>
           Jeg har mistet all interesse for andre mennesker.</label>
        </div>

        <hr />
        <strong>Utsagn 13</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question13" name="question13" value="0" required />
          <span class="c-indicator"></span>
           Jeg tar avgjørelser omtrent like lett som jeg alltid har gjort.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question13" name="question13" value="1" required />
          <span class="c-indicator"></span>
           Jeg forsøker å utsette det å ta avgjørelser mer enn tidligere.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question13" name="question13" value="2" required />
          <span class="c-indicator"></span>
           Jeg har større vanskeligheter med å ta avgjørelser enn før.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question13" name="question13" value="3" required />
          <span class="c-indicator"></span>
           Jeg klarer ikke å ta avgjørelser i det hele tatt lenger.</label>
        </div>

        <hr />
        <strong>Utsagn 14</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question14" name="question14" value="0" required />
          <span class="c-indicator"></span>
           Jeg føler ikke at jeg ser dårligere ut enn jeg pleide å gjøre.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question14" name="question14" value="1" required />
          <span class="c-indicator"></span>
           Jeg er bekymret for at jeg ser gammel eller lite tiltrekkende ut.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question14" name="question14" value="2" required />
          <span class="c-indicator"></span>
           Jeg føler det er varige forandringer i mitt utseende som får meg til å se lite tiltrekkende ut.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question14" name="question14" value="3" required />
          <span class="c-indicator"></span>
           Jeg tror jeg ser stygg ut.</label>
        </div>

        <hr />
        <strong>Utsagn 15</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question15" name="question15" value="0" required />
          <span class="c-indicator"></span>
           Jeg kan arbeide like godt som før.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question15" name="question15" value="1" required />
          <span class="c-indicator"></span>
           Det kreves en ekstra anstrengelse for å ta fatt på noe.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question15" name="question15" value="2" required />
          <span class="c-indicator"></span>
           Jeg må presse meg selv hardt for å gjøre noe.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question15" name="question15" value="3" required />
          <span class="c-indicator"></span>
           Jeg klarer ikke å gjøre noe i det hele tatt.</label>
        </div>

        <hr />
        <strong>Utsagn 16</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question16" name="question16" value="0" required />
          <span class="c-indicator"></span>
           Jeg sover like godt som ellers.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question16" name="question16" value="1" required />
          <span class="c-indicator"></span>
           Jeg sover ikke så godt som før.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question16" name="question16" value="2" required />
          <span class="c-indicator"></span>
           Jeg våkner 1-2 timer tidligere enn ellers og har vanskeligheter for å sovne igjen.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question16" name="question16" value="3" required />
          <span class="c-indicator"></span>
           Jeg våkner flere timer tidligere enn jeg pleide, og får ikke sove igjen.</label>
        </div>

        <hr />
        <strong>Utsagn 17</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question17" name="question17" value="0" required />
          <span class="c-indicator"></span>
           Jeg blir ikke fortere trøtt enn ellers.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question17" name="question17" value="1" required />
          <span class="c-indicator"></span>
           Jeg blir fortere trøtt enn ellers.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question17" name="question17" value="2" required />
          <span class="c-indicator"></span>
           Nesten alt jeg gjør, blir jeg trøtt av.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question17" name="question17" value="3" required />
          <span class="c-indicator"></span>
           Jeg er for trøtt til å gjøre noe som helst.</label>
        </div>

        <hr />
        <strong>Utsagn 18</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question18" name="question18" value="0" required />
          <span class="c-indicator"></span>
          
          Matlysten min er ikke dårligere enn ellers.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question18" name="question18" value="1" required />
          <span class="c-indicator"></span>
          
          Matlysten er ikke så god som den var før.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question18" name="question18" value="2" required />
          <span class="c-indicator"></span>
          
          Matlysten min er mye dårligere nå.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question18" name="question18" value="3" required />
          <span class="c-indicator"></span>
           Jeg har ikke matlyst i det hele tatt lenger.</label>
        </div>

        <hr />
        <strong>Utsagn 19</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question19" name="question19" value="0" required />
          <span class="c-indicator"></span>
           Jeg har ikke gått ned så veldig mye i vekt i det siste, om i det hele tatt.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question19" name="question19" value="1" required />
          <span class="c-indicator"></span>
           Jeg har tatt av mer enn 2 kg.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question19" name="question19" value="2" required />
          <span class="c-indicator"></span>
           Jeg har tatt av mer enn 4 kg.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question19" name="question19" value="3" required />
          <span class="c-indicator"></span>
           Jeg har tatt av mer enn 6 kg.</label>
  
          <label class="c-input c-checkbox"><input id="id_question19a" name="question19a" type="checkbox" /> 
          <span class="c-indicator"></span>
          Jeg har bevisst forsøkt å gått ned i vekt.</label>
        </div>

      
        <hr />
        <strong>Utsagn 20</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question20" name="question20" value="0" required />
          <span class="c-indicator"></span>
           Jeg er ikke mer bekymret for helsen min enn vanlig.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question20" name="question20" value="1" required />
          <span class="c-indicator"></span>
           Jeg er bekymret over fysiske plager som verking og smerter, eller urolig mage, eller forstoppelse.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question20" name="question20" value="2" required />
          <span class="c-indicator"></span>
           Jeg er veldig bekymret over mine fysiske plager og det er vanskelig å tenke på stort annet.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question20" name="question20" value="3" required />
          <span class="c-indicator"></span>
           Jeg er så bekymret over mine fysiske plager at jeg ikke klarer å tenke på annet.</label>
        </div>

        <hr />
        <strong>Utsagn 21</strong>
        <div class="c-inputs-stacked">
          <label class="c-input c-radio"><input type="radio" id="id_question21" name="question21" value="0" required />
          <span class="c-indicator"></span>
           Jeg har ikke merket noen forandring i mine seksuelle interesser i det siste.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question21" name="question21" value="1" required />
          <span class="c-indicator"></span>
           Jeg er mindre interessert i sex enn jeg var før.</label>
                    
          <label class="c-input c-radio"><input type="radio" id="id_question21" name="question21" value="2" required />
          <span class="c-indicator"></span>
           Jeg er mye mindre interessert i sex nå.</label>
          
          <label class="c-input c-radio"><input type="radio" id="id_question21" name="question21" value="3" required />
          <span class="c-indicator"></span>
           Jeg har helt mistet interessen for sex.</label>
        </div>
        <hr />
        <p><a href="#top">Tilbake til toppen av siden</a></p>
    </div>
    
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_folder">Mappe</label> 
        <select class="c-select form-control" id="id_folder" name="folder" required>
          <option value="{{ from_folder.pk}}" selected="selected">{{ from_folder.name }}</option>
          {% for folder in other_folders %}
          <option value="{{ folder.pk }}">{{ folder.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-custom" type="submit" value="Lagre BDI" />
      </form>

    </div>

  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=from_folder.pk %}">{{ from_folder.name }}</a>
  <li class="active">Ny BDI</li>
</ol>
{% endblock %}