{% extends 'base.html' %}
{% load humanize %}
{% load prs_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>PRS</h2>
      <h5>Panikk vurderingsskala</h5>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ prs.folder.name }}</strong></p>
        <p>Opprettet: <strong> {{ prs.date|date:'j. F o' }}</strong></p>
      </div>
    </div>
    <div class="col-md-4">
      <a class="btn btn-custom m-b-1" href="{% url 'assessments:prs_update' pk=prs.pk %}">Endre</a>
      <a class="btn btn-custom-red m-b-1" data-toggle="modal" data-target="#delete-confirm">Slett</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-custom" href="{% url 'assessments:prs_summary' pk=prs.folder.pk %}">Oppsummering</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table borderless table-sm">
        <tbody>
        <tr>
          <td class="bold">Antall panikkanfall</td>
          <td class="bold">{{ prs.question01 }}</td>
        </tr>
        <tr>
          <td class="bold">Unngåelse av panikkanfall</td>
          <td class="bold">{{ prs.question02 }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
      <table class="table borderless table-sm table-hover">
        <tbody>
          <h5>Trygghetsatferd</h5>
          <div class="help-text-muted">
            
            Hvor ofte du har brukt strategier som har ført til å at angstnivået har gått ned i løpet av sist uke. På en skala fra 0 - 8 der 0 er ikke i det hele tatt og 8 er hele tiden.
          </div>

        <tr>
          <td{% if prs.question0301 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Setter meg ned</td>
          <td{% if prs.question0301 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0301 }}</td>
          <td{% if prs.question0302 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Distraherer meg</td>
          <td{% if prs.question0302 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0302 }}</td>
        </tr>
        <tr>
          <td{% if prs.question0303 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Kontrollerer pusten</td>
          <td{% if prs.question0303 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0303 }}</td>
          <td{% if prs.question0304 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Tar pulsen</td>
          <td{% if prs.question0304 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0304 }}</td>
        </tr>
        <tr>
          <td{% if prs.question0305 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Prøver å slappe av</td>
          <td{% if prs.question0305 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0305 }}</td>
          <td{% if prs.question0306 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Leter etter utgangen</td>
          <td{% if prs.question0306 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0306 }}</td>
        </tr>
        <tr>
          <td{% if prs.question0307 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Kontrollerer sinnet mitt</td>
          <td{% if prs.question0307 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0307 }}</td>
          <td{% if prs.question0308 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Beveger meg roligere</td>
          <td{% if prs.question0308 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0308 }}</td>
        </tr>
        <tr>
          <td{% if prs.question0309 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Tar beroligende medisiner</td>
          <td{% if prs.question0309 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0309 }}</td>
          <td{% if prs.question0310 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Holder fast i noe eller noen</td>
          <td{% if prs.question0310 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0310 }}</td>
        </tr>
        <tr>
          <td{% if prs.question0311 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Forlater situasjonen</td>
          <td{% if prs.question0311 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0311 }}</td>
          <td{% if prs.question0312 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Prøver å være sammen med noen</td>
          <td{% if prs.question0312 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0312 }}</td>
        </tr>
        {% if question03_extra %}
          {% for q3 in question03_extra %}
        {% if not forloop.counter|check_even %}<tr>{% endif %}
          <td{% if q3.question03_extra_score != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ q3.question03_extra_text }}</td>
          <td{% if q3.question03_extra_score != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ q3.question03_extra_score }}</td>
        {% if forloop.counter|check_even or forloop.last %}</tr>{% endif %}
          {% endfor %}
        {% endif %}
        </tbody>
      </table>

      <h5>Katastrofetanker</h5>
      <table class="table borderless table-sm table-hover">
        <tbody>
          <tr>
            <td{% if prs.question0401 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg får hjerteinfarkt</td>
            <td{% if prs.question0401 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0401 }}</td>
            <td{% if prs.question0402 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg er i ferd med å bli gal</td>
            <td{% if prs.question0402 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0402 }}</td>
          </tr>
          <tr>
            <td{% if prs.question0403 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg dør</td>
            <td{% if prs.question0403 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0403 }}</td>
            <td{% if prs.question0404 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg får slag</td>
            <td{% if prs.question0404 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0404 }}</td>
          </tr>
          <tr>
            <td{% if prs.question0405 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg får ikke luft</td>
            <td{% if prs.question0405 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0405 }}</td>
            <td{% if prs.question0406 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg kveles</td>
            <td{% if prs.question0406 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0406 }}</td>
          </tr>
          <tr>
            <td{% if prs.question0407 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg kollapser</td>
            <td{% if prs.question0407 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0407 }}</td>
            <td{% if prs.question0408 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg blir blind</td>
            <td{% if prs.question0408 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0408 }}</td>
          </tr>
          <tr>
            <td{% if prs.question0409 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg besvimer</td>
            <td{% if prs.question0409 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0409 }}</td>
            <td{% if prs.question0410 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg blir lammet</td>
            <td{% if prs.question0410 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0410 }}</td>
          </tr>
          <tr>
            <td{% if prs.question0411 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg mister kontrollen</td>
            <td{% if prs.question0411 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0411 }}</td>
            <td{% if prs.question0412 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg kommer til å skrike</td>
            <td{% if prs.question0412 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0412 }}</td>
          </tr>
          <tr>
            <td{% if prs.question0413 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Jeg kommer til å kaste opp</td>
            <td{% if prs.question0413 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0413 }}</td>
            <td{% if prs.question0414 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>Panikkanfallet tar aldri slutt</td>
            <td{% if prs.question0414 != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ prs.question0414 }}</td>
          </tr>
          {% if question04_extra %}
            {% for q4 in question04_extra %}
              {% if not forloop.counter|check_even %}<tr>{% endif %}
              <td{% if q4.question04_extra_score != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ q4.question04_extra_text }}</td>
              <td{% if q4.question04_extra_score != 0 %} class="bold"{% else %} class="text-muted"{% endif %}>{{ q4.question04_extra_score }}</td>
              {% if forloop.counter|check_even or forloop.last %}</tr>{% endif %}
            {% endfor %}
           {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Bekreft</h4>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette <strong>PRS-skjema {{ prs.date|date:'j. F o' }}</strong> lagret i {{ prs.folder.name }}.
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=prs.folder.pk %}">{{ prs.folder.name }}</a></li>
  <li class="active">PRS {{ prs.date|date:'j. F o' }}</li>
</ol>
{% endblock %}

{% block printerfriendly %}
<a class="nocolor-link pull-right" href="#" onclick="window.print();"><i class="fa fa-print"></i></a>
{% endblock %}