{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h2 id="top">Endre PRS</h2>
      <h5>Panikk vurderingsskala</h5>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ prs.folder.name }}</strong></p>
        <p>Opprettet: <strong> {{ prs.date|date:'j. F o' }}</strong></p>
      </div>
      <hr />
      <form name="abcde" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
        <p><strong>1. Hvor mange panikkanfall har du hatt i løpet av den siste uken?</strong></p>
          <div class="col-md-3">
            <label for="id_question01">Antall ganger</label> 
          </div>
          <div class="col-md-2">
            <input class="form-control" id="id_question01" min="0" name="question01" type="number" value="{{ prs.question01 }}" />
          </div>
        </div>

        <hr />
        <p>
          <strong>2. Hvor ofte har du unngått situasjoner fordi du har vært redd for å få et panikkanfall?</strong>
        </p>
        <div class="form-group row">
          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="0" {% if prs.question02 == 0 %}checked{% endif %} />
                <span class="c-indicator"></span>
                0
                <br />
                <div class="help-text-muted">Aldri</div>
            </label>
          </div>

          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="1" {% if prs.question02 == 1 %}checked{% endif %} />
                <span class="c-indicator"></span>
                1
            </label>
          </div>

          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="2" {% if prs.question02 == 2 %}checked{% endif %} />
                <span class="c-indicator"></span>
                2
            </label>
          </div>

          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="3" {% if prs.question02 == 3 %}checked{% endif %} />
                <span class="c-indicator"></span>
                3
            </label>
          </div>

          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="4" {% if prs.question02 == 4 %}checked{% endif %} />
                <span class="c-indicator"></span>
                4
                <br />
                <div class="help-text-muted">Halvparten av tiden</div>
            </label>
          </div>

          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="5" {% if prs.question02 == 5 %}checked{% endif %} />
                <span class="c-indicator"></span>
                5
            </label>
          </div>

          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="6" {% if prs.question02 == 6 %}checked{% endif %} />
                <span class="c-indicator"></span>
                6
            </label>
          </div>

          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="7" {% if prs.question02 == 7 %}checked{% endif %} />
                <span class="c-indicator"></span>
                7
            </label>
          </div>

          <div class="col-md-1">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="8" {% if prs.question02 == 8 %}checked{% endif %} />
                <span class="c-indicator"></span>
                8
                <br />
                <div class="help-text-muted">Hele tiden</div>
            </label>
          </div>
        </div>
        
        <hr />          
        <p>
          <strong>3. Hvor ofte gjør du følgende når du er engstelig?</strong>
        </p>
        <div class="row help-text-muted m-b-1">
          <div class="col-md-12">
            Angi på en skala fra 0 til 8
          </div>
          <div class="col-md-1">0 <br />Aldri</div>
          <div class="col-md-1">1</div>
          <div class="col-md-1">2</div>
          <div class="col-md-1">3</div>
          <div class="col-md-1">4 <br />Halvparten av tiden</div>
          <div class="col-md-1">5</div>
          <div class="col-md-1">6</div>
          <div class="col-md-1">7</div>
          <div class="col-md-1">8 <br />Hele tiden</div>
        </div>

        
        <table class="table borderless table-sm table-hover">
          <tbody>
            <tr>
              <td>Setter meg ned</td>
              <td>
                <select class="c-select" id="id_question0301" name="question0301">
                  <option value="0" {% if prs.question0301 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0301 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0301 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0301 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0301 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0301 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0301 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0301 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0301 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
              <td>Distraherer meg</td>
              <td>
                <select class="c-select" id="id_question0302" name="question0302">
                  <option value="0" {% if prs.question0302 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0302 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0302 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0302 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0302 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0302 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0302 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0302 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0302 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Kontrollerer pusten</td>
              <td>
                <select class="c-select" id="id_question0303" name="question0303">
                  <option value="0" {% if prs.question0303 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0303 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0303 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0303 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0303 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0303 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0303 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0303 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0303 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
              <td>Tar pulsen</td>
              <td>
                <select class="c-select" id="id_question0304" name="question0304">
                  <option value="0" {% if prs.question0304 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0304 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0304 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0304 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0304 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0304 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0304 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0304 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0304 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Prøver å slappe av</td>
              <td>
                <select class="c-select" id="id_question0305" name="question0305">
                  <option value="0" {% if prs.question0305 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0305 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0305 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0305 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0305 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0305 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0305 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0305 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0305 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
              <td>Leter etter utgangen</td>
              <td>
                <select class="c-select" id="id_question0306" name="question0306">
                  <option value="0" {% if prs.question0306 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0306 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0306 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0306 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0306 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0306 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0306 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0306 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0306 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Kontrollerer sinnet mitt</td>
              <td>
                <select class="c-select" id="id_question0307" name="question0307">
                  <option value="0" {% if prs.question0307 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0307 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0307 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0307 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0307 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0307 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0307 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0307 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0307 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
              <td>Beveger meg roligere</td>
              <td>
                <select class="c-select" id="id_question0308" name="question0308">
                  <option value="0" {% if prs.question0308 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0308 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0308 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0308 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0308 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0308 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0308 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0308 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0308 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Tar beroligende medisiner</td>
              <td>
                <select class="c-select" id="id_question0309" name="question0309">
                  <option value="0" {% if prs.question0309 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0309 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0309 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0309 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0309 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0309 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0309 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0309 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0309 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
              <td>Holder fast i noe eller noen</td>
              <td>
                <select class="c-select" id="id_question0310" name="question0310">
                  <option value="0" {% if prs.question0310 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0310 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0310 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0310 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0310 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0310 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0310 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0310 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0310 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Forlater situasjonen</td>
              <td>
                <select class="c-select" id="id_question0311" name="question0311">
                  <option value="0" {% if prs.question0311 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0311 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0311 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0311 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0311 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0311 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0311 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0311 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0311 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
              <td>Prøver å være sammen med noen</td>
              <td>
                <select class="c-select" id="id_question0312" name="question0312">
                  <option value="0" {% if prs.question0312 == 0 %}selected{% endif %}>0</option>
                  <option value="1" {% if prs.question0312 == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if prs.question0312 == 2 %}selected{% endif %}>2</option>
                  <option value="3" {% if prs.question0312 == 3 %}selected{% endif %}>3</option>
                  <option value="4" {% if prs.question0312 == 4 %}selected{% endif %}>4</option>
                  <option value="5" {% if prs.question0312 == 5 %}selected{% endif %}>5</option>
                  <option value="6" {% if prs.question0312 == 6 %}selected{% endif %}>6</option>
                  <option value="7" {% if prs.question0312 == 7 %}selected{% endif %}>7</option>
                  <option value="8" {% if prs.question0312 == 8 %}selected{% endif %}>8</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="form-group row">
          <div class="col-md-8">
            <p><strong>Andre strategier</strong></p>
          </div>
          
          {% for form in prs_q3_formset %}
          <div class="dynamic-q3">
            <div class="col-md-8 m-b-1">
              <input class="form-control" type="text" id="{{ form.text.id_for_label }}" name="q3_prefix-{{ forloop.counter0 }}-text"{% if form.initial %} value="{{ form.initial.question03_extra_text }}"{% endif %} />
            </div>

            <div class="col-md-2 m-b-1">
              <select class="c-select" id="{{ form.score.id_for_label }}" name="q3_prefix-{{ forloop.counter0 }}-score">
                <option value="0" {% if form.initial.question03_extra_score == 0 %}selected{% endif %}>0</option>
                <option value="1" {% if form.initial.question03_extra_score == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if form.initial.question03_extra_score == 2 %}selected{% endif %}>2</option>
                <option value="3" {% if form.initial.question03_extra_score == 3 %}selected{% endif %}>3</option>
                <option value="4" {% if form.initial.question03_extra_score == 4 %}selected{% endif %}>4</option>
                <option value="5" {% if form.initial.question03_extra_score == 5 %}selected{% endif %}>5</option>
                <option value="6" {% if form.initial.question03_extra_score == 6 %}selected{% endif %}>6</option>
                <option value="7" {% if form.initial.question03_extra_score == 7 %}selected{% endif %}>7</option>
                <option value="8" {% if form.initial.question03_extra_score == 8 %}selected{% endif %}>8</option>
              </select>
            </div>
          </div>
          {% endfor %}
        {{ prs_q3_formset.management_form }}
        </div>

        <hr />
        <p>
          <strong>4. Nedenfor ser du noen antakelser som enkelte har når de kjenner seg engstelige. Angi hvor godt du tror at hver av dem stemmer.</strong>
          <div class="help-text-muted">
            Angi på en skala fra 0 til 100.
          </div>
        </p>
        <table class="table borderless table-sm table-hover">
          <tbody>
            <tr>
              <td>Jeg får hjerteinfarkt</td>
              <td>
                <input class="c-input" id="id_question0401" min="0" max="100" step="10" name="question0401" type="number" value="{{ prs.question0401 }}" />
              </td>
              <td>Jeg er i ferd med å bli gal</td>
              <td>
                <input class="c-input" id="id_question0402" min="0" max="100" step="10" name="question0402" type="number" value="{{ prs.question0402 }}" />
              </td>
            </tr>
            <tr>
              <td>Jeg dør</td>
              <td>
                <input class="c-input" id="id_question0403" min="0" max="100" step="10" name="question0403" type="number" value="{{ prs.question0403 }}" />
              </td>
              <td>Jeg får slag</td>
              <td>
                <input class="c-input" id="id_question0404" min="0" max="100" step="10" name="question0404" type="number" value="{{ prs.question0404 }}" />
              </td>
            </tr>
            <tr>
              <td>Jeg får ikke luft</td>
              <td>
                <input class="c-input" id="id_question0405" min="0" max="100" step="10" name="question0405" type="number" value="{{ prs.question0405 }}" />
              </td>
              <td>Jeg kveles</td>
              <td>
                <input class="c-input" id="id_question0406" min="0" max="100" step="10" name="question0406" type="number" value="{{ prs.question0406 }}" />
              </td>
            </tr>
            <tr>
              <td>Jeg kollapser</td>
              <td>
                <input class="c-input" id="id_question0407" min="0" max="100" step="10" name="question0407" type="number" value="{{ prs.question0407 }}" />
              </td>
              <td>Jeg blir blind</td>
              <td>
                <input class="c-input" id="id_question0408" min="0" max="100" step="10" name="question0408" type="number" value="{{ prs.question0408 }}" />
              </td>
            </tr>
            <tr>
              <td>Jeg besvimer</td>
              <td>
                <input class="c-input" id="id_question0409" min="0" max="100" step="10" name="question0409" type="number" value="{{ prs.question0409 }}" />
              </td>
              <td>Jeg blir lammet</td>
              <td>
                <input class="c-input" id="id_question0410" min="0" max="100" step="10" name="question0410" type="number" value="{{ prs.question0410 }}" />
              </td>
            </tr>
            <tr>
              <td>Jeg mister kontrollen</td>
              <td>
                <input class="c-input" id="id_question0411" min="0" max="100" step="10" name="question0411" type="number" value="{{ prs.question0411 }}" />
              </td>
              <td>Jeg kommer til å skrike</td>
              <td>
                <input class="c-input" id="id_question0412" min="0" max="100" step="10" name="question0412" type="number" value="{{ prs.question0412 }}" />
              </td>
            </tr>
            <tr>
              <td>Jeg kommer til å kaste opp</td>
              <td>
                <input class="c-input" id="id_question0413" min="0" max="100" step="10" name="question0413" type="number" value="{{ prs.question0413 }}" />
              </td>
              <td>Panikkanfallet tar aldri slutt</td>
              <td>
                <input class="c-input" id="id_question0414" min="0" max="100" step="10" name="question0414" type="number" value="{{ prs.question0414 }}" />
              </td>
            </tr>
          </tbody>
        </table>

        <div class="form-group row">
          <p>Andre antakelser</p>
          {% for form in prs_q4_formset %}
          <div class="dynamic-q4">
            <div class="col-md-8 m-b-1">
              <input class="form-control" type="text" id="{{ form.text.id_for_label }}" name="q4_prefix-{{ forloop.counter0 }}-text"{% if form.initial %} value="{{ form.initial.question04_extra_text }}"{% endif %} />
            </div>
            <div class="col-md-2 m-b-1">
            <input class="form-control" type="number" id="{{ form.score.id_for_label }}" min="0" max="100" step="10" name="q4_prefix-{{ forloop.counter0 }}-score" value="{{ form.initial.question04_extra_score }}" />
            </div>

          </div>
          {% endfor %}
          {{ prs_q4_formset.management_form }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="id_folder">Mappe</label> 
            <select class="c-select form-control" id="id_folder" name="folder" required>
              <option value="{{ prs.folder.pk}}" selected="selected">{{ prs.folder.name }}</option>
              {% for folder in other_folders %}
              <option value="{{ folder.pk }}">{{ folder.name }}</option>
              {% endfor %}
            </select>
          </div>
        <input class="btn btn-custom" type="submit" value="Lagre PRS" />
      </form>
  </div>
</div>


{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=prs.folder.pk %}">{{ prs.folder.name }}</a></li>
  <li><a href="{% url 'assessments:prs_detail' pk=prs.pk %}">PRS {{ prs.date|date:'j. F o' }}</a></li>
  <li class="active">Endre</li>
</ol>
{% endblock %}

{% block js_extras %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.dynamic-q3').formset({
        prefix: '{{ prs_q3_formset.prefix }}',
        addText: '<i class="fa fa-plus-square-o fa-lg"></i>',
        deleteText: '<i class="fa fa-minus-square-o fa-lg"></i>',
        addCssClass: 'col-md-1 nocolor-link',        
        deleteCssClass: 'col-md-1 nocolor-link'
    });
    $('.dynamic-q4').formset({
        prefix: '{{ prs_q4_formset.prefix }}',
        addText: '<i class="fa fa-plus-square-o fa-lg"></i>',
        deleteText: '<i class="fa fa-minus-square-o fa-lg"></i>',
        addCssClass: 'col-md-1 nocolor-link',        
        deleteCssClass: 'col-md-1 nocolor-link'
    });
</script>
{% endblock %}
