{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load prs_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>PRS-oppsummering</h2>
        <div class="assessment-meta">
          <p>Mappe: <strong>{{ folder.name }}</strong></p>
          <p>Tidsrom: 
          <strong>
          {% for prs in all_prs_in_folder %}
            {% if forloop.first %}{{ prs.date|date:'j. F o' }}{% endif %}
            {% if forloop.last %} - {{ prs.date|date:'j. F o' }}{% endif %}
          {% endfor %}
          </strong>
          </p>
      <hr />
      <script src="{% static 'cd3/d3.min.js' %}" charset="utf-8"></script>
      <script src="{% static 'cd3/c3.min.js' %}"></script>
      <h5>Panikkanfall og unngåelse</h5>
      <div id="chart1"></div>

      <script>
        var chart = c3.generate({
          bindto: '#chart1',
          data: {
            columns: [
              ['Antall panikkanfall', {% for prs in all_prs_in_folder %} {{ prs.question01 }},{% endfor %}],
              ['Unngåelse', {% for prs in all_prs_in_folder %} {{ prs.question02 }},{% endfor %}]
            ],
            type: 'bar'
          },
          bar: {
            width: {
              ratio: 0.5 // this makes bar width 50% of length between ticks
        }
        // or
        //width: 100 // this makes bar width 100px
        },
        axis: {
        x: {
            type: 'category',
            categories: [{% for prs in all_prs_in_folder %} '{{ prs.date|date:'j. F o' }}', {% endfor %}]
        }
    }
      });
      </script>

      <h5>Trygghetsatferd</h5>
      <div id="chart2"></div>
      <script>
      var chart = c3.generate({
        bindto: '#chart2',
        data: {
          columns: [
          {% for q3 in q3s_standard_questions %}
            ['{{ q3.text }}', {% for score in q3.scores %}{{score}}, {% endfor %}],
          {% endfor %}
            
          {% for q3 in q3s_scores %}
            ['{{ q3.text }}', {% for score in q3.scores %}{{ score }}, {% endfor %}],
          {% endfor %}
          ],
          type: 'bar',
        },
          bar: {
            width: {
              ratio: 0.5 // this makes bar width 50% of length between ticks
        }
        // or
        //width: 100 // this makes bar width 100px
        },
        axis: {
        x: {
            type: 'category',
            categories: [{% for prs in all_prs_in_folder %} '{{ prs.date|date:'j. F o' }}', {% endfor %}]
        }
    }
              });
      </script>

      <h5>Katastrofetanker</h5>
      <div id="chart3"></div>
            <script>
      var chart = c3.generate({
        bindto: '#chart3',
        data: {
          columns: [
          {% for q4 in q4s_standard_questions %}
            ['{{ q4.text }}', {% for score in q4.scores %}{{score}}, {% endfor %}],
          {% endfor %}

          {% for q4 in q4s_scores %}
            ['{{ q4.text }}', {% for score in q4.scores %}{{ score }}, {% endfor %}],
          {% endfor %}
          ],
          type: 'bar',
        },
          bar: {
            width: {
              ratio: 0.5 // this makes bar width 50% of length between ticks
        }
        // or
        //width: 100 // this makes bar width 100px
        },
        axis: {
        x: {
            type: 'category',
            categories: [{% for prs in all_prs_in_folder %} '{{ prs.date|date:'j. F o' }}', {% endfor %}]
        }
    }
              });
      </script>


    </div>
  </div>
</div>


{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=folder.pk %}">{{ folder.name }}</a></li>
  <li class="active">PRS oppsummering</li>
</ol>
{% endblock %}

{% block printerfriendly %}
<a class="nocolor-link pull-right" href="#" onclick="window.print();"><i class="fa fa-print"></i></a>
{% endblock %}

{% block css_extras %}
<link href="{% static 'cd3/c3.css' %}" rel="stylesheet">
{% endblock %}

{% block js_extras %}

{% endblock %}
