{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Bildevasker</h4>
      {% if messages %}
        {% for message in messages %}
          <div class="jumbotron">{{ message }}</div>
        {% endfor %}
      {% else %}
        <div class="jumbotron">Vasket bilde sendes til {{ user.email }}</div>
    {% endif %}
      <form role="form" action="{% url 'whitewash' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        <p><strong>Velg bilde</strong></p>
        <label for="id_imagefile">
          <input id="id_imagefile" name="imagefile" type="file" />
        </label>
        </div>
        <input class="btn btn-custom" type="submit" value="Vask og send"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Bildevasker</li>
</ol>
{% endblock %}
