{% extends 'base.html' %}
{% load humanize %}
{% load prs_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Beck kasusformulering</h2>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ bcf.folder.name }}</strong></p>
        <p>Opprettet: <strong> {{ bcf.date|date:'j. F o' }}</strong></p>
      </div>
    </div>
    <div class="col-md-4">
      <a class="btn btn-custom m-b-1" href="">Endre</a>
      <a class="btn btn-custom-red m-b-1" data-toggle="modal" data-target="#delete-confirm">Slett</a>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr />
        <strong>Relevante barndomsdata</strong><br />
        <div class="assessment-box m-b-2">
        {{ bcf.relevant_childhood_data }}
        </div>

        <strong>Grunnleggende leveregler</strong><br />
        <div class="assessment-box m-b-2">
          {{ bcf.core_beliefs }}
        </div>

        <strong>Senkundære leveregler</strong><br />
        <div class="assessment-box m-b-2">
          {{ bcf.conditional_assumptions }}
        </div>

        <strong>Kompensatoriske strategier</strong><br />
        <div class="assessment-box m-b-2">
          {{ bcf.coping_strategies }}
        </div>

        {% for bcf in bcf_extra %}

        <strong>Situasjon</strong><br />
        <div class="assessment-box">
          {{ bcf.situation }}
        </div>

        <strong>Automatisk tanke</strong><br />
        <div class="assessment-box">
        {{ bcf.automatic_thought }}
        </div>

        <strong>Meningen med automatisk tanke</strong><br />
        <div class="assessment-box">
         {{ bcf.meaning_automatic_thought }}
          </div>
        {% endfor %}
        
    
    </div>
  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Bekreft</h4>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette <strong> Beck kasusformulering {{ bcf.date|date:'j. F o' }}</strong> lagret i {{ bcf.folder.name }}.
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=bcf.folder.pk %}">{{ bcf.folder.name }}</a></li>
  <li class="active">BCF {{ bcf.date|date:'j. F o' }}</li>
</ol>
{% endblock %}

{% block printerfriendly %}
<a class="nocolor-link pull-right" href="#" onclick="window.print();"><i class="fa fa-print"></i></a>
{% endblock %}