{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h2 id="top">Beck kasusformulering</h2>
      <hr />

      <form name="abcde" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <label for="id_relevant_childhood_data">
            <strong>Relevante barndomsdata</strong><br />
            <div class="help-text-muted">
              Relevante opplysninger om oppvekst, familie.
            </div>
          </label> 
          <textarea class="form-control" rows="3" id="id_relevant_childhood_data" name="relevant_childhood_data"></textarea>
        </div>

        <div class="form-group">
          <label for="id_core_beliefs">
            <strong>Grunnleggende leveregler</strong><br />
            <div class="help-text-muted">
              Grunnleggende leveregler.
            </div>
          </label> 
          <textarea class="form-control" rows="3" id="id_core_beliefs" name="core_beliefs"></textarea>
        </div>

        <div class="form-group">
          <label for="id_conditional_assumptions">
            <strong>Sekundære leveregler</strong><br />
            <div class="help-text-muted">
              Sekundære leveregler
            </div>
          </label> 
          <textarea class="form-control" rows="3" id="id_conditional_assumptions" name="conditional_assumptions"></textarea>
        </div>

        <div class="form-group">
          <label for="id_coping_strategies">
            <strong>Kompensatoriske strategier</strong><br />
            <div class="help-text-muted">
              Kompensatoriske strategier
            </div>
          </label> 
          <textarea class="form-control" rows="3" id="id_coping_strategies" name="coping_strategies"></textarea>
        </div>

        
        {% for form in bcf_extra_form %}
      <div class="dynamic-bcf">

        <div class="form-group">
          <label for="{{ form.situation.id_for_label }}">
            <strong>Situasjon</strong><br />
            <div class="help-text-muted">
              Situasjon
            </div>
          </label> 
          <textarea class="form-control" rows="1" id="{{ form.situation.id_for_label }}" name="bcf_extra-{{ forloop.counter0 }}-situation"></textarea>
        </div>

        <div class="form-group">
          <label for="{{ form.automatic_thought.id_for_label }}">
            <strong>Automatisk tanke</strong><br />
            <div class="help-text-muted">
              Automatisk tanke
            </div>
          </label> 
          <textarea class="form-control" rows="1" id="{{ form.automatic_thought.id_for_label }}" name="bcf_extra-{{ forloop.counter0 }}-automatic_thought"></textarea>
        </div>

        <div class="form-group">
          <label for="{{ form.meaning_automatic_thought.id_for_label }}">
            <strong>Mening med automatisk tanke</strong><br />
            <div class="help-text-muted">
              Mening med automatisk tanke
            </div>
          </label> 
          <textarea class="form-control" rows="1" id="{{ form.meaning_automatic_thought.id_for_label }}" name="bcf_extra-{{ forloop.counter0 }}-meaning_automatic_thought"></textarea>
        </div>

        <div class="form-group">
          <label for="{{ form.emotion.id_for_label }}">
            <strong>Følelse</strong><br />
            <div class="help-text-muted">
              Følelse
            </div>
          </label> 
          <textarea class="form-control" rows="1" id="{{ form.emotion.id_for_label }}" name="bcf_extra-{{ forloop.counter0 }}-emotion"></textarea>
        </div>

        <div class="form-group">
          <label for="{{ form.behavior.id_for_label }}">
            <strong>Atferd</strong><br />
            <div class="help-text-muted">
              Atferd
            </div>
          </label> 
          <textarea class="form-control" rows="1" id="{{ form.behavior.id_for_label }}" name="bcf_extra-{{ forloop.counter0 }}-behavior"></textarea>
        </div>
      






      </div>



        {% endfor %}
        {{ bcf_extra_form.management_form }}


    


    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="id_folder">Mappe</label> 
        <select class="c-select form-control" id="id_folder" name="folder" required>
          <option value="{{ from_folder.pk}}" selected="selected">{{ from_folder.name }}</option>
          {% for folder in other_folders %}
          <option value="{{ folder.pk }}">{{ folder.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-custom" type="submit" value="Lagre kasusformulering" />
    </form>
    </div>
  
  </div>
</div>


{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=from_folder.pk %}">{{ from_folder.name }}</a></li>
  <li class="active">Ny kasusformulering</li>
</ol>
{% endblock %}

{% block js_extras %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.dynamic-bcf').formset({
        prefix: '{{ bcf_extra_form.prefix }}',
        addText: '<i class="fa fa-plus-square-o fa-lg"></i> Legg til',
        deleteText: '<i class="fa fa-minus-square-o fa-lg"></i>',
        addCssClass: 'nocolor-link',        
        deleteCssClass: 'nocolor-link'
    });
</script>
{% endblock %}
