{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Endre BAI</h2>
      <h5>Beck Anxiety Inventory</h5>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ bai.folder.name }}</strong></p>
        <p>Opprettet: <strong> {{ bai.date|date:'j. F o' }}</strong></p>
      </div>

      <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

      <hr />
      <strong>1. Jeg har følt meg svak.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question01" name="question01" value="0" {% if bai.question01 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question01" name="question01" value="1" {% if bai.question01 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question01" name="question01" value="2" {% if bai.question01 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question01" name="question01" value="3" {% if bai.question01 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>2. Jeg har følt meg mo i knær.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="0" {% if bai.question02 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question02" name="question02" value="1" {% if bai.question02 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question02" name="question02" value="2" {% if bai.question02 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question02" name="question02" value="3" {% if bai.question02 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>3. Jeg har følt meg svimmel og ør.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question03" name="question03" value="0" {% if bai.question03 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question03" name="question03" value="1" {% if bai.question03 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question03" name="question03" value="2" {% if bai.question03 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question03" name="question03" value="3" {% if bai.question03 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>4. Jeg har følt nummenhet eller kribling i kroppen.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question04" name="question04" value="0" {% if bai.question04 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="1" {% if bai.question04 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="2" {% if bai.question04 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="3" {% if bai.question04 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>5. hendene mine har skjelvet.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question05" name="question05" value="0" {% if bai.question05 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="1" {% if bai.question05 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="2" {% if bai.question05 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="3" {% if bai.question05 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>6. Jeg har følt meg ustø til bens.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question06" name="question06" value="0" {% if bai.question06 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="1" {% if bai.question06 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="2" {% if bai.question06 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="3" {% if bai.question06 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>7. Jeg har følt meg anspent.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question07" name="question07" value="0" {% if bai.question07 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question07" name="question07" value="1" {% if bai.question07 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question07" name="question07" value="2" {% if bai.question07 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question07" name="question07" value="3" {% if bai.question07 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>8. Jeg har følt meg nervøs.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question08" name="question08" value="0" {% if bai.question08 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question08" name="question08" value="1" {% if bai.question08 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question08" name="question08" value="2" {% if bai.question08 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question08" name="question08" value="3" {% if bai.question08 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>9. Jeg har følt meg skvetten.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question09" name="question09" value="0" {% if bai.question09 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question09" name="question09" value="1" {% if bai.question09 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question09" name="question09" value="2" {% if bai.question09 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question09" name="question09" value="3" {% if bai.question09 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>10. Jeg har følt meg skjelven.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question10" name="question10" value="0" {% if bai.question10 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question10" name="question10" value="1" {% if bai.question10 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question10" name="question10" value="2" {% if bai.question10 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question10" name="question10" value="3" {% if bai.question10 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>11. Jeg har følt et sterkt ønske om å unngå å være i en situasjon.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question11" name="question11" value="0" {% if bai.question11 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question11" name="question11" value="1" {% if bai.question11 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question11" name="question11" value="2" {% if bai.question11 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question11" name="question11" value="3" {% if bai.question11 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>12. Jeg har følt meg ute av stand til å slappe av.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question12" name="question12" value="0" {% if bai.question12 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question12" name="question12" value="1" {% if bai.question12 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question12" name="question12" value="2" {% if bai.question12 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question12" name="question12" value="3" {% if bai.question12 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>13. Jeg har vært redd for å miste kontrollen.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question13" name="question13" value="0" {% if bai.question13 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question13" name="question13" value="1" {% if bai.question13 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question13" name="question13" value="2" {% if bai.question13 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question13" name="question13" value="3" {% if bai.question13 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>14. Jeg har vært vettskremt.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question14" name="question14" value="0" {% if bai.question14 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question14" name="question14" value="1" {% if bai.question14 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question14" name="question14" value="2" {% if bai.question14 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question14" name="question14" value="3" {% if bai.question14 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>15. Jeg har hatt en rar følelse av at ting er uvirkelige.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question15" name="question15" value="0" {% if bai.question15 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question15" name="question15" value="1" {% if bai.question15 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question15" name="question15" value="2" {% if bai.question15 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question15" name="question15" value="3" {% if bai.question15 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>16. Jeg har merket at jeg puster hurtig.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question16" name="question16" value="0" {% if bai.question16 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question16" name="question16" value="1" {% if bai.question16 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question16" name="question16" value="2" {% if bai.question16 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question16" name="question16" value="3" {% if bai.question16 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>17. Jeg har merket at hjertet hamrer/raser i vei.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question17" name="question17" value="0" {% if bai.question17 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question17" name="question17" value="1" {% if bai.question17 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question17" name="question17" value="2" {% if bai.question17 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question17" name="question17" value="3" {% if bai.question17 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>18. Jeg har hatt en følelse av klump i halsen.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question18" name="question18" value="0" {% if bai.question18 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question18" name="question18" value="1" {% if bai.question18 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question18" name="question18" value="2" {% if bai.question18 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question18" name="question18" value="3" {% if bai.question18 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>19. Jeg har svettet (skyldes ikke varme).</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question19" name="question19" value="0" {% if bai.question19 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question19" name="question19" value="1" {% if bai.question19 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question19" name="question19" value="2" {% if bai.question19 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question19" name="question19" value="3" {% if bai.question19 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>20. Jeg har vært redd for å dø.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question20" name="question20" value="0" {% if bai.question20 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question20" name="question20" value="1" {% if bai.question20 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question20" name="question20" value="2" {% if bai.question20 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question20" name="question20" value="3" {% if bai.question20 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <strong>21. Jeg har hatt følelsen av å bli kvalt.</strong>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question21" name="question21" value="0" {% if bai.question21 == 0 %}checked {% endif %}required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question21" name="question21" value="1" {% if bai.question21 == 1 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Litt plaget
          </label>
          </div>  
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question21" name="question21" value="2" {% if bai.question21 == 2 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
        <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question21" name="question21" value="3" {% if bai.question21 == 3 %}checked {% endif %}required />
              <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

        <p><a href="#top">Tilbake til toppen</a></p>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_folder">Mappe</label> 
        <select class="c-select form-control" id="id_folder" name="folder">
          {% for folder in folders %}
            <option value="{{ folder.pk }}"{% if bai.folder == folder %} selected="selected"{% endif %}>{{ folder.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-custom" type="submit" value="Lagre endringer" required />
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=bai.folder.pk %}">{{ bai.folder.name }}</a></li>
  <li><a href="{% url 'assessments:bai_detail' pk=bai.pk %}">BAI {{ bai.date|date:'j. F o' }}</a></li>
  <li class="active">Endre</li>
</ol>
{% endblock %}