{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="m-b-2">BAI lagret</h4>
      <a class="btn btn-custom" href="{% url 'assessments:folder_detail' pk=folder.pk %}">Tilbake til mappe</a>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=folder.pk %}">{{ folder.name }}</a></li>
  <li class="active">BAI Lagret</li>
</ol>
{% endblock %}
