{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 id="top">BAI</h2>
      <h5>Beck Anxiety Inventory</h5>
      <div class="jumbotron">
        I dette spørreskjemaet vil du finne en liste som beskriver visse tilstander folk kan oppleve.
        <br />
        Les hvert punkt nøye. Angi hvor mye du har vært plaget i løpet av <strong>siste uke, inkludert i dag</strong>.
      </div>
      <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <hr />
        <p><strong>1. Jeg har følt meg svak.</strong></p>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question01" name="question01" value="0" required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>

          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question01" name="question01" value="1" required />
              <span class="c-indicator"></span>
              Litt plaget
            </label>
          </div>

          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question01" name="question01" value="2" required />
              <span class="c-indicator"></span>
              Ganske plaget
            </label>
          </div>

          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question01" name="question01" value="3" required />
              <span class="c-indicator"></span>
              Mye plaget
            </label>
          </div>

        </div> 
        
        <hr/ >
        <p><strong>2. Jeg har følt meg mo i knær.</strong></p>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="0" required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>

          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="1" required />
              <span class="c-indicator"></span>
              Litt plaget
            </label>
          </div>
      
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="2" required />
              <span class="c-indicator"></span>
              Ganske plaget
            </label>
          </div>

          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question02" name="question02" value="3" required />
              <span class="c-indicator"></span>
              Mye plaget
            </label>
          </div>
        </div>

      <hr />
      <p><strong>3. Jeg har følt meg svimmel og ør.</strong></p>
      <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question03" name="question03" value="0" required />
              <span class="c-indicator"></span>
              Ikke i det hele tatt
              </label>
          </div>

          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question03" name="question03" value="1" required />
              <span class="c-indicator"></span>
              Litt plaget
            </label>
          </div>

          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question03" name="question03" value="2" required />
              <span class="c-indicator"></span>
              Ganske plaget
            </label>
          </div>
    
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question03" name="question03" value="3" required />
            <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <p><strong>4. Jeg har følt nummenhet eller kribling i kroppen.</strong></p>
      <div class="row">
        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="0" required />
            <span class="c-indicator"></span>
            Ikke i det hele tatt
          </label>
        </div>

        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="1" required />
            <span class="c-indicator"></span>
            Litt plaget
          </label>
        </div>

        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="2" required />
            <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
  
        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="3" required />
            <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>
      
      <hr />
      <p><strong>5. hendene mine har skjelvet.</strong></p>
      <div class="row">
        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="0" required />
            <span class="c-indicator"></span>
            Ikke i det hele tatt
          </label>
        </div>

        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="1" required />
            <span class="c-indicator"></span>
            Litt plaget
          </label>
        </div>

        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="2" required />
            <span class="c-indicator"></span>
            Ganske plaget
          </label>
        </div>
  
        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="3" required />
            <span class="c-indicator"></span>
            Mye plaget
          </label>
        </div>
      </div>

      <hr />
      <p><strong>6. Jeg har følt meg ustø til bens.</strong></p>
        <div class="row">
          <div class="col-md-3">
            <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="0" required />
            <span class="c-indicator"></span>
              Ikke i det hele tatt
            </label>
          </div>

          <div class="col-md-3">
            <label class="c-input c-radio">
              <input type="radio" id="id_question06" name="question06" value="1" required />
              <span class="c-indicator"></span>
              Litt plaget
            </label>
          </div>

        <div class="col-md-3">
          <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="2" required />
            <span class="c-indicator"></span>
              Ganske plaget
          </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question06" name="question06" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>
      
      <hr />
      <p><strong>7. Jeg har følt meg anspent.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question07" name="question07" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question07" name="question07" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question07" name="question07" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question07" name="question07" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>
      
      <hr />
      <p><strong>8. Jeg har følt meg nervøs.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question08" name="question08" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question08" name="question08" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question08" name="question08" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question08" name="question08" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>

      <hr />
      <p><strong>9. Jeg har følt meg skvetten.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question09" name="question09" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question09" name="question09" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question09" name="question09" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question09" name="question09" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>
      
      <hr />
      <p><strong>10. Jeg har følt meg skjelven.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question10" name="question10" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question10" name="question10" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question10" name="question10" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question10" name="question10" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>
      
      <hr />
      <p><strong>11. Jeg har følt et sterkt ønske om å unngå å være i en situasjon.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question11" name="question11" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question11" name="question11" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question11" name="question11" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question11" name="question11" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>
 
      <hr />
      <p><strong>12. Jeg har følt meg ute av stand til å slappe av.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question12" name="question12" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question12" name="question12" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question12" name="question12" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question12" name="question12" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>

      <hr />
      <p><strong>13. Jeg har vært redd for å miste kontrollen.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question13" name="question13" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question13" name="question13" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question13" name="question13" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question13" name="question13" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>
      
      <hr />
      <p><strong>14. Jeg har vært vettskremt.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question14" name="question14" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question14" name="question14" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question14" name="question14" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question14" name="question14" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>

      <hr />
      <p><strong>15. Jeg har hatt en rar følelse av at ting er uvirkelige.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question15" name="question15" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question15" name="question15" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question15" name="question15" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question15" name="question15" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>

      <hr />
      <p><strong>16. Jeg har merket at jeg puster hurtig.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question16" name="question16" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question16" name="question16" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question16" name="question16" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question16" name="question16" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>

      <hr />
      <p><strong>17. Jeg har merket at hjertet hamrer/raser i vei.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question17" name="question17" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question17" name="question17" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question17" name="question17" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question17" name="question17" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>

      <hr />
      <p><strong>18. Jeg har hatt en følelse av klump i halsen.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question18" name="question18" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question18" name="question18" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question18" name="question18" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question18" name="question18" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>

      <hr />
      <p><strong>19. Jeg har svettet (skyldes ikke varme).</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question19" name="question19" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question19" name="question19" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question19" name="question19" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question19" name="question19" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>
   
      <hr />
      <p><strong>20. Jeg har vært redd for å dø.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question20" name="question20" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question20" name="question20" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question20" name="question20" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question20" name="question20" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>

      <hr />
      <p><strong>21. Jeg har hatt følelsen av å bli kvalt.</strong></p>
        <div class="row">
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question21" name="question21" value="0" required />
        <span class="c-indicator"></span>
        Ikke i det hele tatt
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question21" name="question21" value="1" required />
        <span class="c-indicator"></span>
        Litt plaget
                </label>
        </div>

              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question21" name="question21" value="2" required />
        <span class="c-indicator"></span>
        Ganske plaget
                </label>
        </div>
  
              <div class="col-md-3">
          <label class="c-input c-radio">
        <input type="radio" id="id_question21" name="question21" value="3" required />
        <span class="c-indicator"></span>
        Mye plaget
                </label>
        </div>
      </div>
      <hr />

      <p><a href="#top">Tilbake til toppen av siden</a></p>
    
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_folder">Mappe</label>
        <select class="c-select form-control" id="id_folder" name="folder" required>
          <option value="{{ from_folder.pk}}" selected="selected">{{ from_folder.name }}</option>
          {% for folder in other_folders %}
          <option value="{{ folder.pk }}">{{ folder.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-custom" type="submit" value="Lagre BAI" />
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=from_folder.pk %}">{{ from_folder.name }}</a>
  <li class="active">Ny BAI</li>
</ol>
{% endblock %}
