{% extends 'base.html' %}
{% load humanize %}
{% load bai_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>BAI</h2>
      <h5>Beck Anxiety Inventory</h5>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ bai.folder.name }}</strong></p>
        <p>Opprettet: <strong> {{ bai.date|date:'j. F o' }}</strong></p>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <th></th>
            <th>Utsagn</th>
            <th>Skår</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>Jeg har følt meg svak.</td>

            <td><i class="fa fa-check-square-o"></i> {{ bai.question01 }}</td>

          <tr>
            <td>2.</td> 
            <td>Jeg har følt meg mo i knær.</td>
            <td><i class="fa fa-check-square-o"></i> {{ bai.question02 }}</td>
          </tr>

          <tr>
            <td>3.</td> 
            <td>Jeg har følt meg svimmel og ør.</td>            
            <td><i class="fa fa-check-square-o"></i> {{ bai.question03 }}</td>
          </tr>

          <tr>
            <td>4.</td> 
            <td>Jeg har følt nummenhet eller kribling i kroppen.</td>          
            <td><i class="fa fa-check-square-o"></i> {{ bai.question04 }}</td>
          </tr>

          <tr>
            <td>5.</td> 
            <td>hendene mine har skjelvet.</td>          
            <td><i class="fa fa-check-square-o"></i> {{ bai.question05 }}</td>
          </tr>

          <tr>
            <td>6.</td>
            <td>Jeg har følt meg ustø til bens.</td>           
            <td><i class="fa fa-check-square-o"></i> {{ bai.question06 }}</td>
          </tr>

          <tr>
            <td>7.</td>
            <td>Jeg har følt meg anspent.</td>          
            <td><i class="fa fa-check-square-o"></i> {{ bai.question07 }}</td>
          </tr>

          <tr>
            <td>8.</td>
            <td>Jeg har følt meg nervøs.</td>           
            <td><i class="fa fa-check-square-o"></i> {{ bai.question08 }}</td>
          </tr>

          <tr>
            <td>9.</td>
            <td>Jeg har følt meg skvetten.</td>            
            <td><i class="fa fa-check-square-o"></i> {{ bai.question09 }}</td>
          </tr>

          <tr>
            <td>10.</td>
            <td>Jeg har følt meg skjelven.</td>            
            <td><i class="fa fa-check-square-o"></i> {{ bai.question10 }}</td>
          </td>

          <tr>
            <td>11.</td>
            <td>Jeg har følt et sterkt ønske om å unngå å være i en situasjon.</td>          
            <td><i class="fa fa-check-square-o"></i> {{ bai.question11 }}</td>
          </tr>

          <tr>
            <td>12.</td>
            <td>Jeg har følt meg ute av stand til å slappe av.</td>            
            <td><i class="fa fa-check-square-o"></i> {{ bai.question12 }}</td>
          </tr>

          <tr>
            <td>13.</td>
            <td>Jeg har vært redd for å miste kontrollen.</td>          
            <td><i class="fa fa-check-square-o"></i> {{ bai.question13 }}</td>
          </tr>

          <tr>
            <td>14.</td>
            <td>Jeg har vært vettskremt.</td>           
            <td><i class="fa fa-check-square-o"></i> {{ bai.question14 }}</td>
          </tr>

          <tr>
            <td>15.</td>
            <td>Jeg har hatt en rar følelse av at ting er uvirkelige.</td>           
            <td><i class="fa fa-check-square-o"></i> {{ bai.question15 }}</td>
          </tr>

          <tr>
            <td>16.</td>
            <td>Jeg har merket at jeg puster hurtig.</td>       
            <td><i class="fa fa-check-square-o"></i> {{ bai.question16 }}</td>
          </td>

          <tr>
            <td>17.</td>
            <td>Jeg har merket at hjertet hamrer/raser i vei.</td>         
            <td><i class="fa fa-check-square-o"></i> {{ bai.question01 }}</td>
          </tr>

          <tr>
            <td>18.</td>
            <td>Jeg har hatt en følelse av klump i halsen.</td>           
            <td><i class="fa fa-check-square-o"></i> {{ bai.question18 }}</td>
          </tr>

          <tr>
            <td>19.</td>
            <td>Jeg har svettet (skyldes ikke varme).</td>            
            <td><i class="fa fa-check-square-o"></i> {{ bai.question19 }}</td>
          </tr>

          <tr>
            <td>20.</td>
            <td>Jeg har vært redd for å dø.</td>            
            <td><i class="fa fa-check-square-o"></i> {{ bai.question20 }}</td>
          </tr>

          <tr>
            <td>21.</td>
            <td>Jeg har hatt følelsen av å bli kvalt.</td>           
            <td><i class="fa fa-check-square-o"></i> {{ bai.question21 }}</td>
          </tr>
        </tbody> 
      </table>
      </div>
      <div class="col-md-4">
        <div class="jumbotron">
          <h5>Oppsummering</h5>
           <strong>Resultat</strong>
               <tr>
            <td>{{ bai.score }}</strong> {{ bai.score|bai_verbal|capfirst }}</p>

           <strong>Retningslinjer for inndeling av angstnivå</strong>
           <ul class="list-unstyled">
            <li>0 - 7 Minmalt angstnivå</li>
            <li>8 - 15 Noe hevet angstnivå</li>
            <li>16 - 25 Moderat hevet angstnivå</li>
            <li>26 - 63 Alvorlig hevet angstnivå</li>
          </ul>
        </div>
        <a class="btn btn-custom m-b-1" href="{% url 'assessments:bai_update' pk=bai.pk %}">Endre</a>
        <a class="btn btn-custom-red m-b-1" data-toggle="modal" data-target="#delete-confirm">Slett</a>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="myModalLabel">Slette kartlegging?</h5>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette <strong>BAI-kartlegging {{ bai.date|date:'j. F o' }}</strong> lagret i {{ bai.folder.name }}.
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=bai.folder.pk %}">{{ bai.folder.name }}</a></li>
  <li class="active">BAI {{ bai.date|date:'j. F o' }}</li>
</ol>
{% endblock %}

{% block printerfriendly %}
<a class="nocolor-link pull-right" href="#" onclick="window.print();"><i class="fa fa-print"></i></a>
{% endblock %}
