{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h2 id="top">MCTMD</h2>
      <h5>Metakognitiv modell for depresjon</h5>
      <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <hr/>
        <div class="form-group">
          <label for="id_trigger">
            <strong>Triggertanke</strong><br />
            <div class="help-text-muted">
              Hva var den første tanken du hadde som startet grublingen?
            </div>
          </label> 
          <textarea class="form-control" rows="2" id="id_trigger" name="trigger"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_rumination">
            <strong>Grubling</strong><br />
            <div class="help-text-muted">
              Hva tenkte du etter du fikk triggertanken? Hva grublet du på?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_rumination" name="rumination"></textarea>
        </div>

        <hr />
        <div class="form-group">
        <strong>Resultat av grubling</strong><br />

          <label for="id_depression_affect">
            <div class="help-text-muted">
              Hva skjedde med humøret/følelsene dine etter grublingen?
            </div>
          </label>
          <textarea class="form-control" rows="2" id="id_depression_affect" name="depression_affect"></textarea>

          <label for="id_depression_thoughts">
            <div class="help-text-muted">
              Hva endte du opp med å tenke etter grublingen?
            </div>
          </label>
          <textarea class="form-control" rows="2" id="id_depression_thoughts" name="depression_thoughts"></textarea>
          
          <label for="id_depression_behavior">
            <div class="help-text-muted">
              Hvilket effekt hadde grublingen på handlingene dine?
            </div>
          </label>
          <textarea class="form-control" rows="2" id="id_depression_behavior" name="depression_behavior"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <strong>Antakelser om grubling</strong><br />

          <label for="id_negative_meta_beliefs">
            <div class="help-text-muted">
              Negative antakelser om grubling. Føler du at du har kontroll over grublingen? På en skala fra 0 - 100 hvor mye tror du på antakelsen?
            </div>
          </label>
          <textarea class="form-control" rows="3" id="id_negative_meta_beliefs" name="negative_meta_beliefs"></textarea>

          <label for="id_positive_meta_beliefs">
            <div class="help-text-muted">
              Positive antakelser om grubling
            </div>
          </label>
          <textarea class="form-control" rows="3" id="id_positive_meta_beliefs" name="positive_meta_beliefs"></textarea>
        </div>




        <p><a href="#top">Tilbake til toppen</a></p>
    </div>
    
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_folder">Mappe</label> 
        <select class="c-select form-control" id="id_folder" name="folder" required>
          <option value="{{ from_folder.pk}}" selected="selected">{{ from_folder.name }}</option>
          {% for folder in other_folders %}
          <option value="{{ folder.pk }}">{{ folder.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-custom" type="submit" value="Lagre MCTMD" />
      </form>
    </div>

  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=from_folder.pk %}">{{ from_folder.name }}</a>
  <li class="active">Ny MCTMD Kasusformulering</li>
</ol>
{% endblock %}