{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>MCTMD</h2>
      <h5>Metakognitiv modell for depresjon</h5>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ mctmd.folder.name }}</strong></p>
        <p>Opprettet: <strong> {{ mctmd.date|date:'j. F o' }}</strong></p>
      </div>

    </div>
    <div class="col-md-4">
      <a class="btn btn-custom m-b-1" href="{% url 'assessments:mctmd_update' pk=mctmd.pk %}">Endre</a>
      <a class="btn btn-custom-red m-b-1" data-toggle="modal" data-target="#delete-confirm">Slett</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr />
      <strong>Triggertanke</strong><br />
      <div class="assessment-box border-blue">
        {{ mctmd.trigger|linebreaks }}
      </div>

      <div class="assessment-arrow">
        <i class="fa fa-arrow-down fa-3x"></i>
      </div>
      
      <strong>Positive meta-antakelser</strong><br />
      <div class="assessment-box border-dashed">
        {{ mctmd.positive_meta_beliefs|linebreaks }}
      </div>

      <div class="assessment-arrow">
        <i class="fa fa-arrow-down fa-3x"></i>
      </div>

      <strong>Grubling</strong><br />
      <div class="assessment-box border-red">
        {{ mctmd.rumination|linebreaks }}
      </div>

      <div class="assessment-arrow">
        <i class="fa fa-arrow-down fa-3x"></i>
      </div>

      <strong>Negative meta-antakelser</strong><br />
      <div class="assessment-box border-dashed">
        {{ mctmd.negative_meta_beliefs|linebreaks }}
      </div>

      <div class="assessment-arrow">
        <i class="fa fa-arrow-down fa-3x"></i>
      </div>

      <strong>Depresjon</strong>
      <div class="row">
        <div class="col-md-4">
          <em>Atferd</em><br />
          <div class="assessment-box border-blue">
              {{ mctmd.depression_behavior|linebreaks }}
          </div>
        </div>
        <div class="col-md-4">
          <em>Tanker</em><br />
          <div class="assessment-box">
            {{ mctmd.depression_thoughts|linebreaks }}
          </div>
        </div>
        <div class="col-md-4">
          <em>Følelser</em><br />
          <div class="assessment-box border-red">
            {{ mctmd.depression_affect|linebreaks }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="myModalLabel">Slette skjema?</h5>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette <strong>MCTMD-skjema {{ mctmd.date|date:'j. F o' }}</strong> lagret i {{ mctmd.folder.name }}.
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=mctmd.folder.pk %}">{{ mctmd.folder.name }}</a></li>
  <li class="active">MCTMD {{ mctmd.date|date:'j. F o' }}</li>
</ol>
{% endblock %}

{% block printerfriendly %}
<a class="nocolor-link pull-right" href="#" onclick="window.print();"><i class="fa fa-print"></i></a>
{% endblock %}