{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Brukerkonto er aktivert</h4>
      <div class="jumbotron">
      <p>Din brukerkonto er nå aktivert og du kan <a href="{% url 'user:login' %}">logge inn</a>.</p>
      <p>Dersom du har glemt brukernavn eller passord, gå til <a href="{% url 'user:auth_password_reset' %}">denne siden</a>, skriv inn e-postadressen din og få tilsendt intstruksjoner for å lage nytt passord. Du får også vite hvilket brukernavn som er registrert på e-postadressen.</p>

      </div>
      
      <a class="btn btn-custom" href="{% url 'user:login' %}">Logg inn</a>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'user:login' %}">Logg inn</a></li>
  <li class="active">Bildevasker</li>
</ol>
{% endblock %}