{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Innstillinger</h4>
      <table class="table table-sm borderless">
        <thead>
          <tr>
            <td><strong>Brukernavn</strong></td>
            <td>{{ user.username }}</td>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td><strong>E-post</strong></td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
      <a class="btn btn-custom" href="{% url 'user:logout' %}">Logg ut</a>
      <a class="btn btn-custom" href="{% url 'user:auth_password_change' %}">Endre passord</a>
      <a class="btn btn-custom-red pull-right" data-toggle="modal" data-target="#delete-confirm">Slett konto</a>
    </div>
  </div>
</div>


<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="myModalLabel">Slette konto?</h5>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette brukeren <strong>{{ user.username }}</strong>.
      <p> Alt du har lagret på siden vil bli slettet.</p>
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block startpage %}
<li><a href="{% url 'index' %}">Startsiden</a></li>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Instillinger</li>
</ol>
{% endblock %}