{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Logg inn</h4>
      <form role="form" method="post" action="">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="jumbotron">{{ error|escape }}</div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="jumbotron">{{ error|escape }}</div>
          {% endfor %}
        {% endif %}
        <div class="form-group">
        <label for="id_username">Brukernavn</label> 
        <input class="form-control" id="id_username" maxlength="254" name="username" type="text" />
        </div>
        <div class="form-group">
          <label for="id_password">Passord</label> 
          <input class="form-control" id="id_password" name="password" type="password" />
        </div>
        <div class="form-group">
          <input class="btn btn-custom"type="submit" value="Logg inn" />
        </div>
      </form>

      <p>
        <a class="btn btn-custom" href="{% url 'user:auth_password_reset' %}">Glemt passord</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Logg inn</li>
</ol>
{% endblock %}