{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Registrer deg</h4>
      <form role="form" method="post" action="{% url 'user:register' %}">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="jumbotron">{{ error|escape }}</div><br />
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="jumbotron">{{ error|escape }}</div>
          {% endfor %}
        {% endif %}
        <div class="form-group">
          <label for="id_username">Brukernavn</label> 
          <input class="form-control" id="id_username" maxlength="30" name="username" type="text" /> 
        </div>
        <div class="form-group">
          <label for="id_email">E-postadresse</label>
          <input class="form-control" id="id_email" maxlength="254" name="email" type="email" />
        </div>

        <div class="form-group">
          <label for="id_password1">Passord</label>
          <input class="form-control" id="id_password1" name="password1" type="password" />
        </div>
        <div class="form-group">
          <label for="id_password2">Bekreft passord</label>
          <input class="form-control" id="id_password2" name="password2" type="password" />
        </div>

        <input class="btn btn-custom" type="submit" value="Registrer" />
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Registrer deg</li>
</ol>
{% endblock %}