{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Brukerkonto er registrert</h4>
      <div class="jumbotron">
      Det er sendt en aktiveringslink til din e-postadresse. <br /> 

      Sjekk e-posten og trykk på linken for å aktivere kontoen.
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Brukerkonto registrert</li>
</ol>
{% endblock %}
