{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 id="top">PSWQ</h2>
      <h5>Penn State Worry Questionnaire</h5>
      <div class="jumbotron">
        Nedenfor er en liste med utsagn og en skalering. Velg tallet som best beskriver hvor typisk eller beskrivende hvert utsagn er for deg.

        <p>
        Husk å lese alle utsagnene innenfor en gruppe før du velger, og pass på at du gir svar innenfor alle gruppene.
        </p> 
      </div>
      <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      
        <hr>
      <p><strong>1. Jeg blir ikke bekymret selv om jeg ikke har tid til å gjøre alt.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question01" name="question01" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question01" name="question01" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question01" name="question01" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question01" name="question01" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question01" name="question01" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>2. Jeg blir lett overveldet av bekymringer.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question02" name="question02" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question02" name="question02" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question02" name="question02" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question02" name="question02" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question02" name="question02" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>3. Jeg bruker ikke å bekymre meg så mye.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question03" name="question03" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question03" name="question03" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question03" name="question03" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question03" name="question03" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question03" name="question03" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>4. Jeg blir bekymret i mange situasjoner.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question04" name="question04" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question04" name="question04" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>5. Jeg vet at jeg ikke burde bekymre meg for ting, men jeg klarer ikke å kontrollere det.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question05" name="question05" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question05" name="question05" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>6. Når jeg er under press eller er stresset, bekymrer jeg meg mye.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question06" name="question06" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question06" name="question06" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>7. Jeg bekymrer meg alltid for noe.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question07" name="question07" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question07" name="question07" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question07" name="question07" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question07" name="question07" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question07" name="question07" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>8. Jeg synes det er enkelt å avfeie bekymringer som dukker opp.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question08" name="question08" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question08" name="question08" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question08" name="question08" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question08" name="question08" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question08" name="question08" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>9. Så snart jeg er ferdig med en oppgave begynner jeg å bekymre meg for andre ting jeg må gjøre.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question09" name="question09" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question09" name="question09" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question09" name="question09" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question09" name="question09" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question09" name="question09" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>10. Jeg bekymrer meg aldri for noe som helst.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question10" name="question10" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question10" name="question10" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question10" name="question10" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question10" name="question10" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question10" name="question10" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>11. Når det ikke noe mer jeg kan gjøre for å bedre på noe, bekymrer jeg meg heller ikke for det.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question11" name="question11" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question11" name="question11" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question11" name="question11" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question11" name="question11" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question11" name="question11" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>12. Jeg har vært en som bekymrer seg hele livet.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question12" name="question12" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question12" name="question12" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question12" name="question12" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question12" name="question12" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question12" name="question12" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>13. Jeg har merket at jeg har bekymret meg for ting.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question13" name="question13" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question13" name="question13" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question13" name="question13" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question13" name="question13" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question13" name="question13" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>14. Når jeg først begynner å bekymre meg, klarer jeg ikke å stoppe.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question14" name="question14" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question14" name="question14" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question14" name="question14" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question14" name="question14" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question14" name="question14" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>15. Jeg bekymrer meg hele tiden.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question15" name="question15" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question15" name="question15" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question15" name="question15" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question15" name="question15" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question15" name="question15" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

      <hr>
      <p><strong>16. Jeg bekymrer meg for oppgaver helt til jeg er ferdig med dem.</strong></p>
      <div class="row">
        <div class="col-md-2">
          <label class="c-input c-radio">
          <input type="radio" id="id_question16" name="question16" value="1" required />
              <span class="c-indicator"></span>
              1
              <br /><div class="help-text-muted">Ikke beskrivende</div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question16" name="question16" value="2" required />
            <span class="c-indicator"></span>
            2
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question16" name="question16" value="3" required />
            <span class="c-indicator"></span>
            3
            <br /><div class="help-text-muted">Noe beskrivende </div>
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question16" name="question16" value="4" required />
            <span class="c-indicator"></span>
            4
          </label>
        </div>

        <div class="col-md-2">
          <label class="c-input c-radio">
            <input type="radio" id="id_question16" name="question16" value="5" required />
            <span class="c-indicator"></span>
            5
          </label>
          <br /><div class="help-text-muted">Veldig beskrivende</div>
        </div>
      </div>

        <p><a href="#top">Tilbake til toppen av siden</a></p>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_folder">Mappe</label> 
        <select class="c-select form-control" id="id_folder" name="folder" required>
          <option value="{{ from_folder.pk}}" selected="selected">{{ from_folder.name }}</option>
          {% for folder in other_folders %}
          <option value="{{ folder.pk }}">{{ folder.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-custom" type="submit" value="Lagre PSWQ" />
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=from_folder.pk %}">{{ from_folder.name }}</a>
  <li class="active">Ny PSWQ</li>
</ol>
{% endblock %}