{% extends 'base.html' %}
{% load humanize %}
{% load pswq_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>PSWQ</h2>
      <h5>Penn State Worry Questionnaire</h5>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ pswq.folder.name }}</strong></p>
        <p>Dato: <strong>{{ pswq.date|date:'j. F o' }}</strong></p>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <th></th>
            <th>Utsagn</th>
            <th>Skår</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>Jeg blir ikke bekymret selv om jeg ikke har tid til å gjøre alt. *</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question01 }}</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Jeg blir lett overveldet av bekymringer.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question02 }}</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Jeg bruker ikke å bekymre meg så mye. *</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question03 }}</td>
          </tr>
          <tr>
            <td>4.</td>
            <td>Jeg blir bekymret i mange situasjoner.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question04 }}</td>
          </tr>
          <tr>
            <td>5.</td>
            <td>Jeg vet at jeg ikke burde bekymre meg for ting, men jeg klarer ikke å kontrollere det.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question05 }}</td>
          </tr>
          <tr>
            <td>6.</td>
            <td>Når jeg er under press eller er stresset, bekymrer jeg meg mye.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question06 }}</td>
          </tr>
          <tr>
            <td>7.</td>
            <td>Jeg bekymrer meg alltid for noe.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question07 }}</td>
          </tr>
          <tr>
            <td>8.</td>
            <td>Jeg synes det er enkelt å avfeie bekymringer som dukker opp. *</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question08 }}</td>
          </tr>
          <tr>
            <td>9.</td>
            <td>Så snart jeg er ferdig med en oppgave begynner jeg å bekymre meg for andre ting jeg må gjøre.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question09 }}</td>
          </tr>
          <tr>
            <td>10.</td>
            <td>Jeg bekymrer meg aldri for noe som helst. *</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question10 }}</td>
          </tr>
          <tr>
            <td>11.</td>
            <td>Når det ikke noe mer jeg kan gjøre for å bedre på noe, bekymrer jeg meg heller ikke for det. *</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question11 }}</td>
          </tr>
          <tr>
            <td>12.</td>
            <td>Jeg har vært en som bekymrer seg hele livet.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question12 }}</td>
          </tr>
          <tr>
            <td>13.</td>
            <td>Jeg har merket at jeg har bekymret meg for ting.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question13 }}</td>
          </tr>
          <tr>
            <td>14.</td>
            <td>Når jeg først begynner å bekymre meg, klarer jeg ikke å stoppe.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question14 }}</td>
          </tr>
          <tr>
            <td>15.</td>
            <td>Jeg bekymrer meg hele tiden.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question15 }}</td>
          </tr>
          <tr>
            <td>16.</td>
            <td>Jeg bekymrer meg for oppgaver helt til jeg er ferdig med dem.</td>
            <td><i class="fa fa-check-square-o"></i> {{ pswq.question16 }}</td>
          </tr>
        </tbody> 
        </table>
      </div>
      <div class="col-md-4">
          <div class="jumbotron">
          <h5>Oppsummering</h5>
          <strong>Resultat</strong>
          <p><strong>{{ pswq.score }}</strong> {{ pswq.score|pswq_verbal|capfirst }}</p>

          <strong>Merknader</strong>
          <p>* 1, 3, 8, 10 og 11 skåres motsatt:<br />
          1 skåres som 5<br />
          2 skåres som 4<br />
          3 skåres som 3<br />
          4 skåres som 2<br />
          5 skåres som 1</p> 

          <strong>Retningslinjer for inndeling av bekymringsnivå</strong>
          <ul class="list-unstyled">
            <li>16 - 39 Lav grad av bekymring</li>
            <li>40 - 59 Moderat grad av bekymring</li>
            <li>60 - 80 Høy grad av bekymring</li>
          </ul>
        </div>

        <a class="btn btn-custom m-b-1" href="{% url 'assessments:pswq_update' pk=pswq.pk %}">Endre</a>
        <a class="btn btn-custom-red m-b-1" data-toggle="modal" data-target="#delete-confirm">Slett</a>

      </div>
      

    </div>
  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="myModalLabel">Slette PSWQ?</h5>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette <strong>PSWQ-kartlegging {{ pswq.date|date:'j. F o' }}</strong> lagret i {{ pswq.folder.name }}.
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=pswq.folder.pk %}">{{ pswq.folder.name }}</a></li>
  <li class="active">PSWQ {{ pswq.date|date:'j. F o' }}</li>
</ol>
{% endblock %}