{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>403</h1>
          <h4>Du har ikke tilgang til denne siden.</h4>
      </div>
    </div>
  </div>
{% endblock content %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">403</li>
</ol>
{% endblock %}
