{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>404</h1>
          <h4>Denne siden finnes ikke.</h4>
      </div>
    </div>
  </div>
{% endblock content %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">404</li>
</ol>
{% endblock %}

