{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <h1>500</h1>
        <h4>Huff! Noe gikk galt.</h4>
      </div>
    </div>
  </div>
{% endblock content %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">500</li>
</ol>
{% endblock %}


