<!DOCTYPE html>{% load staticfiles %}
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jobbgreier">
    <meta name="author" content="Andreas M">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#33C3F0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <title>Jobb</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block css_extras %}{% endblock %}

      <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="{% static 'js/js-webshim/minified/polyfiller.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    <script>
    //webshim.setOptions('basePath', '/js-webshim/minified/shims/');

    //request the features you need:
    webshim.polyfill('forms');

    $(function(){
      // use all implemented API-features on DOM-ready
    });
    </script>
  </head>

  <body>
    <div class="collapse" id="exCollapsingNavbar">
      <div class="jobb-navbar p-a-1">
        <ul class="nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:dashboard' pk=request.user.pk %}">Innstillinger</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'assessments:index' %}">Kartlegging</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sfiles:index' %}">Dokumenter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'whitewash' %}">Bildevasker</a>
          </li>
          <li class="nav-item pull-right">
            <a class="nav-link" href="{% url 'user:logout' %}">Logg ut</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:login' %}">Logg inn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:register' %}">Registrer</a>
          </li>
        {% endif %}
        </ul>
      </div>
</div>
<nav class="navbar">
  <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    &#9776;
  </button>
  {% block printerfriendly %}{% endblock %}
  {% block breadcrumb %}
    huff, glemt navigering
  {% endblock %}
</nav>
</body>

<div class="container-fluid m-b-3">
{% block content %}<p>Huff</p>{% endblock %}
</div>

{% block js_extras %}{% endblock %}
</body>
</html>
