{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 m-b-2">
      {% if user.is_authenticated %}
        <div class="jumbotron">
          <h4>Du er logget inn</h4>
          <p>Hei, {{ user }}! Du er nå logget inn.</p>
          <a class="btn btn-custom" href="{% url 'user:logout' %}">Logg ut</a>
        </div>
      {% else %}
        <div class="jumbotron">
          <h4>Logg inn</h4>
          <p>For å bruke denne siden må du ha en bruker og være logget inn.</p>
          <a class="btn btn-custom m-b-1" href="{% url 'user:login' %}">Logg inn</a>
          <a class="btn btn-custom m-b-1" href="{% url 'user:register' %}">Registrer ny bruker</a>
        </div>

      {% endif %}
    </div>
      
    <div class="col-md-6">
      <a class="menu-custom m-b-1 m-r-1" href="{% url 'assessments:index' %}">
        <h1>Kartlegging</h1>
        <p>Kartlegging og skjema</p>
      </a>
      <a class="menu-custom m-b-1" href="{% url 'sfiles:index' %}">
        <h1>Dokumenter</h1>
        <p>Nedlastbare filer og dokumenter</p>
      </a>
      <a class="menu-custom m-b-1" href="{% url 'whitewash' %}">
        <h1>Bildevasker</h1>
        <p>Fjerner støy fra bilder av hvite tavler</p>
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li class="active">Start</li>
</ol>
{% endblock %}