// Custom buttons
.btn-custom {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #33C3F0;
  border-radius: 4px;
  border: 1px solid #33C3F0;
  cursor: pointer;
  box-sizing: border-box;
}
.btn-custom:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; 
}

.btn-custom-control {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  color: #000;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
}
.btn-custom-control:hover {
  color: #000;
  background-color: #fff;
}

.btn-custom-red {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FF4444;
  border-radius: 4px;
  border: 1px solid #FF4444;
  cursor: pointer;
  box-sizing: border-box;
}
.btn-custom-red:hover {
  color: #FFF;
  background-color: #FF0000;
  border-color: #FF0000; 
}

.btn-custom-small {
  display: inline-block;
  height: 15px;
  padding: 0 15px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  font-size: 100%;
  color: #000;
  text-align: center;
  line-height: 15px;
  text-decoration: none;
  white-space: nowrap;
  background-color: #eceeef;
  border-radius: 4px;
  border: 1px solid #eceeef;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-custom-small:hover {
  color: #000;
  background-color: #f7f7f9;
  border-color: #f7f7f9; 
}

.btn-custom-small-blue {
  display: inline-block;
  height: 15px;
  padding: 0 15px;
  font-size: 100%;
  color: #000;
  text-align: center;
  line-height: 15px;
  text-decoration: none;
  white-space: nowrap;
  background-color: #33C3F0;
  border-radius: 4px;
  border: 1px solid #33C3F0;
  cursor: pointer;
  box-sizing: border-box;
  

}
.btn-custom-small-blue:hover {
  color: #000;
  background-color: #1EAEDB;
  border-color: #1EAEDB; 
}

.btn-custom-small-click {
  color: #000;
  background-color: #f7f7f9;
  border-color: #f7f7f9; 
}
.btn-assessment {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-decoration: none;
  white-space: nowrap;
  background-color: #F7BE81;
  border-radius: 4px;
  border: 1px solid #F7BE81;
  cursor: pointer;
  box-sizing: border-box;
}
.btn-assessment:hover {
  color: #FFF;
  background-color: #FE9A2E;
  border-color: #FE9A2E; 
}