// Imports
@import "bootstrap/bootstrap";
@import "btn-custom";
@import "assessment";
@import "printerfriendly";

body {
  font-family: 'Open Sans', sans-serif;
  padding-right: 0px !important
}

.help-text-muted {
  font-size: 60%;
  color: $text-muted;
}

// Helpers
.bold {
  font-weight: 800;
}

// Tables
.table-sm tr, .table-sm th, .table-sm td {
  border-collapse: collapse;
  line-height: 15px;
}

.borderless td, .borderless th {
    border: none;
}
// Breadcrumb custom
.breadcrumb-custom {
  float: left;
  margin: 7px 10px;
  list-style: none;
  padding: 5px 0 0 0;

  > li {
    font-size: 12px;
    float: left;

    + li::before {
      padding-right: .2rem;
      padding-left: .2rem;
      color: #000000;
      content: "/";
    }
  }
}
// Jumbotron edit
.jumbotron {
  padding: .75rem .75rem;
  font-size: 70%;
}

// List
#bold {
  font-weight: 600;
}

// Custom menu
.menu-custom {
  width: 250px;
  display: inline-block;
  background-color: #33C3F0;
  border: solid 1px #33C3F0;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  padding: 0 0px;
  > h1 {
    margin: 10px 0 0 0;
    font-size: 18px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
  }

  > p {
    font-size: 12px;
    color: #FFF;
  }
}

.menu-custom:hover {
  text-decoration: none;
}
// Navbar
.jobb-navbar {
  background-color: #33C3F0;
  font-size: 11px;
  font-weight: 600;
  a {
    color: #ffffff;
  }
  li {
    text-transform: uppercase;
    display: inline;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: .1rem;
  }
}

// No color links
.nocolor-link {
  color: #000000;
}
.nocolor-link:hover {
  color: #000000;
}
.nocolor-link:active {
  color: #000;
}
.nocolor-link:visited {
  color: #000;
}


// Fixes

// Safari iPad modal fix
.modal-open {
  overflow-y: auto;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-right {
    float: none !important;
  }
}
