{% extends 'base.html' %}
{% load humanize %} 
{% load bdi_extras %}
{% load bai_extras %}
{% load pswq_extras %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2><i class="fa fa-folder-open-o"></i> {{ folder.name }}</h2>
      {% if bdis_in_folder or bais_in_folder or pswqs_in_folder %}
      <h4>Kartlegginger</h4>
      <table class="table table-sm table-hover borderless">
        <tbody>
        {% if bdis_in_folder %}
          {% for bdi in bdis_in_folder %}
          <tr>
            <td>BDI</td>
            <td><a href="{% url 'assessments:bdi_detail' pk=bdi.pk %}">{{ bdi.date|date:'j. F o' }}</a></td>
            <td><small class="text-muted">kl. {{ bdi.date|date:'H:i' }}</small></td>
            <td><small class="text-muted"><strong>{{ bdi.score }}</strong> {{ bdi.score|bdi_verbal|capfirst }}</small></td>
          </tr>
          {% endfor %}
        {% endif %}
        {% if bais_in_folder %}
          {% for bai in bais_in_folder %}
          <tr>
            <td>BAI</td>
            <td><a href="{% url 'assessments:bai_detail' pk=bai.pk %}">{{ bai.date|date:'j. F o' }}</a></td>
            <td><small class="text-muted">kl. {{ bai.date|date:'H:i' }}</small></td>
            <td><small class="text-muted"><strong>{{ bai.score }}</strong> {{ bai.score|bai_verbal|capfirst }}</small></td>
          </tr>
          {% endfor %}
        {% endif %}
        {% if pswqs_in_folder %}
          {% for pswq in pswqs_in_folder %}
          <tr>
            <td>PSWQ</td>
            <td><a href="{% url 'assessments:pswq_detail' pk=pswq.pk %}">{{ pswq.date|date:'j. F o' }}</a></td>
            <td><small class="text-muted">kl. {{ pswq.date|date:'H:i' }}</small></td>
            <td><small class="text-muted"><strong>{{ pswq.score }}</strong> {{ pswq.score|pswq_verbal|capfirst }}</small></td>
          </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
      {% endif %}

      {% if abcdes_in_folder or mctmgads_in_folder or mctmds_in_folder or prss_in_folder or bcfs_in_folder %}
      <h4>Skjema</h4>
      <table class="table table-sm table-hover borderless">
        <tbody>
        {% if abcdes_in_folder %}
          {% for abcde in abcdes_in_folder %}
          <tr>
            <td>ABCDE</td>
            <td><a href="{% url 'assessments:abcde_detail' pk=abcde.pk %}">{{ abcde.date|date:'j. F o' }}</a></td>
            <td><small class="text-muted">kl. {{ abcde.date|date:'H:i' }}</small></td>
            <td><small class="text-muted">{{ abcde.activating_event|truncatechars:30 }}</small></td>
          </tr>
          {% endfor %}
        {% endif %}
        {% if prss_in_folder %}
          {% for prs in prss_in_folder %}
          <tr>
            <td>PRS</td>
            <td><a href="{% url 'assessments:prs_detail' pk=prs.pk %}">{{ prs.date|date:'j. F o' }}</a></td>
            <td><small class="text-muted">kl. {{ prs.date|date:'H:i' }}</small></td>
            <td><small class="text-muted">{{ prs.question01 }} panikkanfall sist uke</small></td>
          </tr>
          {% endfor %}
        {% endif %}
        {% if mctmgads_in_folder %}
          {% for mctmgad in mctmgads_in_folder %}
          <tr>
            <td>MCTMGAD</td>
            <td><a href="{% url 'assessments:mctmgad_detail' pk=mctmgad.pk %}">{{ mctmgad.date|date:'j. F o' }}</a></td>
            <td><small class="text-muted">kl. {{ mctmgad.date|date:'H:i' }}</small></td>
            <td><small class="text-muted">{{ mctmgad.trigger|truncatechars:30 }}</small></td>
          </tr>
          {% endfor %}
        {% endif %}
        {% if mctmds_in_folder %}
          {% for mctmd in mctmds_in_folder %}
          <tr>
            <td>MCTMD</td>
            <td><a href="{% url 'assessments:mctmd_detail' pk=mctmd.pk %}">{{ mctmd.date|date:'j. F o' }}</a></td>
            <td><small class="text-muted">kl. {{ mctmd.date|date:'H:i' }}</small></td>
            <td><small class="text-muted">{{ mctmd.trigger|truncatechars:30 }}</small></td>
          </tr>
          {% endfor %}
        {% endif %}
        {% if bcfs_in_folder %}
          {% for bcf in bcfs_in_folder %}
          <tr>
            <td>Beck kasusformulering</td>
            <td><a href="{% url 'assessments:bcf_detail' pk=bcf.pk %}">{{ bcf.date|date:'j. F o' }}</a></td>
            <td><small class="text-muted">kl. {{ bcf.date|date:'H:i' }}</small></td>
            <td><small class="text-muted">{{ bcf.core_beliefs|truncatechars:30 }}</small></td>
          </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
      {% endif %}

    </div>
    <div class="col-md-4">
    <p>
      <a class="btn btn-custom m-b-1" data-toggle="modal" data-target="#change-folder">Endre navn</a>
      <a class="btn btn-custom-red m-b-1" data-toggle="modal" data-target="#delete-folder">Slett mappe</a>
    </p>


      <div class="jumbotron">
        <h5>Ny kartlegging</h5>
        <a class="btn btn-assessment btn-block" href="{% url 'assessments:bdi_create' pk=folder.pk %}">Beck Depression Inventory</a>
        <a class="btn btn-assessment btn-block" href="{% url 'assessments:bai_create' pk=folder.pk %}">Beck Anxiety Inventory</a>
        <a class="btn btn-assessment btn-block" href="{% url 'assessments:pswq_create' pk=folder.pk %}">Penn State Worry Questionnaire</a>
      </div>

      <div class="jumbotron">
        <h5>Nytt skjema</h5>
        <a class="btn btn-assessment btn-block" href="{% url 'assessments:abcde_create' pk=folder.pk %}">ABCDE-skjema</a>
        <a class="btn btn-assessment btn-block" href="{% url 'assessments:prs_create' pk=folder.pk %}">Panikk vurderingsskala</a>
        <a class="btn btn-assessment btn-block" href="{% url 'assessments:mctmgad_create' pk=folder.pk %}">MCT - bekymringsmodell</a>
        <a class="btn btn-assessment btn-block" href="{% url 'assessments:mctmd_create' pk=folder.pk %}">MCT - depresjonsmodell</a>
        <a class="btn btn-assessment btn-block" href="{% url 'assessments:bcf_create' pk=folder.pk %}">Beck kasusformulering</a>
     </div>
    
  </div>
</div>



  <!-- Change folder name modal -->
<div class="modal fade" id="change-folder" tabindex="-1" role="dialog" aria-labelledby="change-folderLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Endre mappenavn</h4>
      </div>
      <div class="modal-body">
        <form role="form" action="{% url 'assessments:folder_update' pk=folder.pk %}" method="post">
        {% csrf_token %}
        <input class="form-control" id="id_name" maxlength="200" name="name" type="text" value="{{ folder.name }}" required />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom-red" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom" type="submit" value="Endre navn" />
        </form> 
      </div>
    </div>
  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-folder" tabindex="-1" role="dialog" aria-labelledby="delete-folderLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Bekreft sletting</h4>
    </div>
    <div class="modal-body">
    Bekreft at vil slette {{ folder.name }} som ble opprettet {{ folder.created_at|date:'j. F o' }}.
    </div>
    <div class="modal-footer">
    <form action="{% url 'assessments:folder_delete' pk=folder.pk %}" method="post">
        {% csrf_token %}
        <button type="button m-b-1" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>


{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li class="active">{{ folder.name }}</li>
</ol>
{% endblock %}