{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="m-b-2"><i class="fa fa-folder-o"></i> Mapper</h2>
      <table class="table table-sm borderless table-hover">
        <tbody>
          <tr>
            <th></th>
            <th>Navn</th>
            <th>Opprettet</th>
            <th><small class="text-muted">Kartlegginger</small></th>
            <th><small class="text-muted">Skjema</small></th>
          </tr>

          {% for folder in folders_and_count %}
          <tr>
            <td><i class="fa fa-folder-open-o"></i></td>
            <td><a href="{% url 'assessments:folder_detail' pk=folder.pk %}">{{ folder.name }}</a></td>
            <td>{{ folder.created_at|date:'j. F o' }}</td>
            <td><small class="text-muted">{{ folder.assessments }}</small></td>
            <td><small class="text-muted">{{ folder.schemas }}</small></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="jumbotron">
      <h5>Lag ny mappe</h5>
        <p>
          Velg eller lag ny mappe for å starte kartlegging.
        </p>
        <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#create-folder">Ny mappe</button>
      </div>
    </div>

  </div>
</div>

<!-- Create folder modal -->
<div class="modal fade" id="create-folder" tabindex="-1" role="dialog" aria-labelledby="create-folderLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Lag ny mappe</h4>
    </div>
    <div class="modal-body">
      <form role="form" action="{% url 'assessments:folder_create' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input class="form-control" id="id_name" maxlength="200" name="name" type="text" />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-custom-red" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom" type="submit" value="Lag ny mappe" />
      </form>
    </div>

   </div>
  </div>
</div>

{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Kartlegging</li>
</ol>
{% endblock %}
