{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Om siden</h4>
      Kjører Python {{ python_version }} og Django {{ django_version }}<br />
      Plattform: {{ platform }}<br />
      Antall brukere: {{ number_of_users }}<br />
      Antall mapper laget: {{ number_of_folders }}<br />
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Om siden</li>
</ol>
{% endblock %}
