{% extends 'base.html' %}
{% load sfiles_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h4>Dokumenter</h4>
      
    {% for category in categories %}
      <table class="table borderless table-sm table-hover">
        <tbody>
          <tr>
            <th class="col-md-1">&nbsp;</th>
            <th class="col-md-7">{{ category.name }}</th>
            <th class="col-md-4"><small class="text-muted">Sist oppdatert</small></th>
          </tr>

            {% for sfile in category.sfiles.all %}
            <tr>
              <td class="col-md-1">{{ sfile.file|get_filename|get_fa_icon|safe }}</td>
              <td class="col-md-7"><a href="{{ sfile.file.url }}">{{ sfile.name }}</a></td>
              <td class="col-md-4"><small class="text-muted">{{ sfile.date|date:'j. F o' }}</small></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endfor %}
    </div>
    <div class="col-md-2">
        {% if user.is_staff %}
          <a class="btn btn-custom" href="{% url 'sfiles:upload' %}">Admninistrere</a>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li class="active">Dokumenter</li>
</ol>
{% endblock %}
