{% extends 'base.html' %}
{% load sfiles_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Last opp ny fil</h4>
      <form name="sfiles" role="form" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group row">
        <div class="col-md-4 m-b-2">
          <label for="id_file">Fil</label> 
          <input class="form-control" id="id_file" name="file" type="file" />
        </div>
        <div class="col-md-4 m-b-2">
          <label for="id_name">Navn</label> 
          <input class="form-control" id="id_name" maxlength="255" name="name" type="text" />
        </div>
        <div class="col-md-4 m-b-2">
          <label for="id_category">Kategori</label> <a class=" pull-right btn btn-custom" href="">Lag ny</a>
          <select class="c-select form-control" id="id_category" name="category">
            <option class="form-control" value="" selected="selected">Velg kategori</option>
            {% for category in categories %}
            <option class="form-control" value="{{ category.pk }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <input class="btn btn-custom" type="submit" value="Last opp" />
        </form>

      </div>
    <h4>Slette filer og kategorier</h4>
    {% for category in categories %}
      <table class="table borderless table-sm table-hover">
        <tbody>
          <tr>
            <th class="col-md-1">&nbsp;</th>
            <th class="col-md-7">{{ category.name }} <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a></th>
            {% if category.sfiles.all %}
            <th class="col-md-4"><small class="text-muted">Sist oppdatert</small></th>
            <th><small class="text-muted">Slette</small></th>
            {% else %}
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            {% endif %}
          </tr>
            {% for sfile in category.sfiles.all %}
            <tr>
              <td class="col-md-1">{{ sfile.file|get_filename|get_fa_icon|safe }}</td>
              <td class="col-md-7"><a href="{{ sfile.file.url }}">{{ sfile.name }}</a></td>
              <td class="col-md-4"><small class="text-muted">{{ sfile.date|date:'j. F o' }}</small></td>
              <td><a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endfor %}



    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'sfiles:index' %}">Dokumenter</a>
  <li class="active">Administrering</li>
</ol>
{% endblock %}