{% extends 'base.html' %}
{% load staticfiles %}

{% block js_extras %}
    <script src="{% static 'js/abcde.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h2 id="top">ABCDE-skjema</h2>
      <form name="abcde" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <hr/>
        <div class="form-group">
          <label for="id_activating_event">
            <strong>A - Situasjon</strong><br />
            <div class="help-text-muted">
              Beskriv hva som skjedde.
            </div>
          </label> 
          <textarea class="form-control" rows="2" id="id_activating_event" name="activating_event"></textarea>
        </div>

        <hr />
        <div class="form-group">
          <label for="id_beliefs">
            <strong>B - Tanker</strong><br />
            <div class="help-text-muted">
              <ul class="list-unstyled">
                <li>Hvilke tanker eller bilder dukker opp i hodet i situasjonen (A)?</li>
                <li>Ranger hvor mye du tror på tanken(e) 0 - 10.</li>
              </ul>
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_beliefs" name="beliefs"></textarea>
        </div>


        <hr />
        <div class="form-group">
          <label for="id_consequences">
            <strong>C - Konsekvenser</strong><br />
            <div class="help-text-muted">
              <ul class="list-unstyled">
                <li>Hvilke følelser dukker opp, hvordan reagerer kroppen, hva gjorde du etter (B)? Konsekvensen av å tolke situasjonen på måten du gjør (B)?</li>
                <li>Ranger styrke på følelser 0 - 10</li>
              </ul>
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_consequences" name="consequences"></textarea>

        <hr />
        <div class="form-group">
          <label for="id_dispute">
            <strong>D - Alternative tanker</strong><br />
            <div class="help-text-muted">
              <ul class="list-unstyled">
                <li> Hva ville du sagt til en venn dersom han eller hun hadde den negative tanken (B).</li>
                <li>Er det noe som motbeviser tanken (B)?</li>
                <li>Er (B) en objektiv måte å se det på?</li>
              </ul>
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_dispute" name="dispute"></textarea>


          <label for="id_logical_fallacies">
            D - Tankefeil
            <div class="help-text-muted">
              <ul class="list-unstyled">
                <li>Eventuelle tankefeil som ble brukt i B.</li>
              </ul>
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_logical_fallacies" name="logical_fallacies"></textarea>
          <div class="help-text-muted">
            <div id="fallacies">
              <a class="btn btn-custom-small" data-filter=".mentaltfilter">Mentalt filter</a>  
              <a class="btn btn-custom-small" data-filter=".altingenting">Alt-eller-ingenting</a>
              <a class="btn btn-custom-small" data-filter=".overgeneralisering">Overgeneralisering</a>
              <a class="btn btn-custom-small" data-filter=".diskvalifisering">Diskvalifisering</a>
              <a class="btn btn-custom-small" data-filter=".tankelesning">Tankelesning</a>
              <a class="btn btn-custom-small" data-filter=".overmini">Overdrive/minimalisere</a>
              <a class="btn btn-custom-small" data-filter=".emores">Emosjonell resonnering</a>
              <a class="btn btn-custom-small" data-filter=".burdeskulle">Burde-skulle-må</a>
              <a class="btn btn-custom-small" data-filter=".stempling">Stempling</a>
              <a class="btn btn-custom-small" data-filter=".persbeb">Personliggjøring og bebreidelse</a>
            </div>
            
            <div class="fallacies-spacer">
            <div id="fallacies-info">
              <p class="mentaltfilter">
                Dette innebærer at du dveler ved det negative og ignorerer det positive.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Mentalt filter">Legg til</a>

              </p>

              <p class="altingenting">
                Alt-eller-ingenting (sort-hvitt tenkning). Dette innebærer at du har lett for å kategorisere noe eller noen som enten svært bra eller svært dårlig, uten å være bevisst at det finnes gråtoner mellom sort og hvitt.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Alt-eller-ingenting">Legg til</a>
              </p>
              
              <p class="overgeneralisering">
                Innebærer at du ser på en negativ hendelse som et endeløst mønster av nederlag. Det føles som om alt går galt for deg, når det i realiteten kun er enkelthendelser som ikke gikk etter planen.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Overgeneralisering">Legg til</a>
              </p>
              <p class="diskvalifisering">
                Diskvalifisering og mentalt filter er overlappende tankefeller, men til forskjell fra mentalt filter innebærer denne tankefellen at negativiteten er rettet mot deg selv. Du insisterer på at det du har oppnådd i livet og dine positive egenskaper ikke teller.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Diskvalifisering">Legg til</a>
              </p>
              <p class="tankelesning">
                Dette innebærer å «trekke forhastede konklusjoner» og består av to deler: «tankelesning» og «spådomskunst». Tankelesning er når du tar det for gitt at folk reagerer negativt på deg, selv om det ikke finnes noe definitivt bevis for det.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Tankelesning">Legg til</a>
              </p>
              <p class="overmini">
                Dette betyr at du gjerne overdriver eller reduserer betydningen av enkelte ting i helt urimelig grad.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Overdrive/minimalisere">Legg til</a>
              </p>
              <p class="emores">
                Dette innebærer at du faller i den fellen å tro at du er hva du føler.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Emosjonell resonnering">Legg til</a>
              </p>
              <p class="burdeskulle">
                Dette innebærer at du benytter ord som burde, skulle eller må for å kritisere deg selv eller andre.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Burde-skulle-må">Legg til</a>
              </p>
              <p class="stempling">
                Innebærer at du identifiserer deg selv eller andre med et eller flere feiltrinn. I stedet for å si til deg selv i en gitt situasjon at «jeg gjorde en feil», sier du til deg selv at «jeg er en taper». Et slikt negativt stempel resulterer uunngåelig i redusert selvfølelse og selvtillit.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Stempling">Legg til</a>
              </p>
              <p class="persbeb">
                Dette kan handle om at du utelukkende bebreider andre for en gitt problematikk og dermed overser hvordan dine egne holdninger og din egen atferd kan ha bidratt til problemet. Foruten denne formen for ansvarsfraskrivelse, kan du på den annen side bebreide deg selv for problematikk som du ikke er ansvarlig for.
                <a class="btn btn-custom-small-blue" href="#" data-fallacy="Personliggjøring eller bebreidelse">Legg til</a>
              </p>
            </div>
            </div>

          </div>
        </div>
        
        <hr />
        <div class="form-group">
          <label for="id_effects">
            <strong>E - Effekt av alternativ tanke</strong><br />
            <div class="help-text-muted">
              Hva skjedde etter at du brukte den alternative tanken (D)?
            </div>
          </label>
          <textarea class="form-control" rows="4" id="id_effects" name="effects"></textarea>
        </div>
      </div>

        <p><a href="#top">Tilbake til toppen</a></p>
    </div>
    
    <div class="col-md-4">
      <div class="form-group">
        <label for="id_folder">Mappe</label> 
        <select class="c-select form-control" id="id_folder" name="folder" required>
          <option value="{{ from_folder.pk}}" selected="selected">{{ from_folder.name }}</option>
          {% for folder in other_folders %}
          <option value="{{ folder.pk }}">{{ folder.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-custom" type="submit" value="Lagre ABCDE" />
      </form>
    </div>

  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=from_folder.pk %}">{{ from_folder.name }}</a>
  <li class="active">Nytt ABCDE-skjema</li>
</ol>
{% endblock %}