{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>ABCDE-skjema</h2>
      <div class="assessment-meta">
        <p>Mappe: <strong>{{ abcde.folder.name }}</strong></p>
        <p>Opprettet: <strong> {{ abcde.date|date:'j. F o' }}</strong></p>
      </div>
    </div>
    <div class="col-md-4">
      <a class="btn btn-custom" href="{% url 'assessments:abcde_update' pk=abcde.pk %}">Endre</a>
      <a class="btn btn-custom-red" data-toggle="modal" data-target="#delete-confirm">Slett</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr />
      <strong>A - Situasjon</strong><br />
      <div class="assessment-box">
        {{ abcde.activating_event|linebreaks }}
      </div>

      <div class="assessment-arrow">
        <i class="fa fa-arrow-down fa-3x"></i>
      </div>
      
      <strong>B - Negative automatiske tanker</strong><br />
      <div class="assessment-box border-red">
        {{ abcde.beliefs|linebreaks }}
      </div>

      <div class="assessment-arrow">
        <i class="fa fa-arrow-down fa-3x"></i>
      </div>

      <strong>C - Konsekvenser av negative automatiske tanker</strong><br />
      <div class="assessment-box border-red">
        {{ abcde.consequences|linebreaks }}
      </div>

      <div class="assessment-arrow">
        <i class="fa fa-arrow-down fa-3x"></i>
      </div>

      <strong>D - Alternative tanker</strong><br />
      <div class="assessment-box border-blue">
        {{ abcde.dispute|linebreaks }}
        {% if abcde.logical_fallacies %}
        <br />
        <strong>Tankefeil</strong>
        {{abcde.logical_fallacies|linebreaks }}
        {% endif %}
      </div>

      <div class="assessment-arrow">
        <i class="fa fa-arrow-down fa-3x"></i>
      </div>

      <strong>E - Effekt av alternativ tanke</strong><br />
      <div class="assessment-box border-blue">
        {{ abcde.effects|linebreaks }}
      </div>

    </div>
  </div>
</div>

<!-- Delete confirm modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="myModalLabel">Slette skjema?</h5>
    </div>
    <div class="modal-body">
      Bekreft at du vil slette <strong>ABCDE-skjema {{ abcde.date|date:'j. F o' }}</strong> lagret i {{ abcde.folder.name }}.
    </div>
    <div class="modal-footer">
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-custom" data-dismiss="modal">Avbryt</button>
        <input class="btn btn-custom-red" type="submit" value="Slett" />
      </form>
    </div>
   </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb-custom">
  <li><a href="{% url 'index' %}">Start</a></li>
  <li><a href="{% url 'assessments:index' %}">Kartlegging</a></li>
  <li><a href="{% url 'assessments:folder_detail' pk=abcde.folder.pk %}">{{ abcde.folder.name }}</a></li>
  <li class="active">ABCDE {{ abcde.date|date:'j. F o' }}</li>
</ol>
{% endblock %}

{% block printerfriendly %}
<a class="nocolor-link pull-right" href="#" onclick="window.print();"><i class="fa fa-print"></i></a>
{% endblock %}